@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}
	@return $number;
}

@function calcby($min,$max,$base_min: null,$base_max: null,$mul: null) {

	$factor: 0;
	$base: 0;
	$ratio: 0;

	@if($base_min == null or $base_min == 0 or $base_max == null or $base_max == 0){
		$base: 1280 * 1px;
		$factor: 1920 - 1280;
	}
	@else{
		$base: #{strip-unit($base_min) * 1px };
		$factor: strip-unit($base_max) - strip-unit($base_min);
	}

	$ratio: ((strip-unit($max) - strip-unit($min)) / $factor);


	@if($mul){
		@return calc( ((100vw - #{$base}) * #{$ratio} + #{strip-unit($min) * 1px }) * #{$mul} )
	}
	@else{
		@return calc((100vw - #{$base}) * #{$ratio} + #{strip-unit($min) * 1px })
	}
}