/*
 Selector generator
 @access public
 @param {String} property - Css Property
 @param {String} min - Minimum value in px
 @param {String} max - Maximum value in px
 @requires $property, $min, $max
*/
@mixin selector($property, $min, $max,$base_min: null, $base_max:null , $mul: null) {


  @if($base_min == 0 or $base_min == null){
    $base_min: 1280;
  }
  @else{
    $base_min: strip-unit($base_min)
  }
  @if($base_max == 0 or $base_max == null){
    $base_max: 1920;
  }
  @else{
    $base_max: strip-unit($base_max)
  }

  #{$property}: #{calcby($min,$max,$base_min,$base_max,$mul)};

  @if($base_min == 1280 and $base_max == 1920){
    @media (min-width: #{ ($base_max + 1) * 1px }) {
      #{$property}: #{strip-unit($max) * 1px};
    }
    @media (max-width: #{ ($base_min - 1) * 1px }) {
      #{$property}: #{strip-unit($min) * 1px};
    }
  }

}


//@include selector(font-size,$min,$max);
//@include selector(line-height,$min,$max);


/*
 Decor generator
 @access public
 @param {String} orientation - Orientation
 @param {String} color - Color in hex
 @param {String} min - Minimum font size value in px
 @param {String} max - Maximum font size value in px
 @requires $orientation, $color, $min, $max
*/
@mixin decor($orientation, $color, $min, $max) {
  @if $orientation == 'left' {
    content: '\e949';
  }
  @else if $orientation == 'right' {
    content: '\e948';
  }
  @else if $orientation == 'top' {
    content: '\e945';
  }
  @else if $orientation == 'bottom' {
    content: '\e946';
  }
  font-family: cyrekico;
  color: #{$color};
  position: absolute;
  display: block;

  //@include selector(font-size,$min,$max);
  //@include selector(line-height,$min,$max);

}


/*
 Responsive breakpoint manager
 @access public
 @param {String} $breakpoint - Breakpoint
 @requires $breakpoints
*/
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
    );
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}



@mixin button($width, $height, $border, $borderRadius, $borderColor, $background, $color, $fontSize)  {
  width: $width;
  height: $height;
  border: $border solid $borderColor;
  border-radius: $borderRadius;
  background: $background;
  color: $color;
  font-size: $fontSize;
  text-align: center;
}
@mixin boxShadow($horizontal_length,$vertical_length,$blur_radius,$spread_radius,$rgba) {
  -webkit-box-shadow: $horizontal_length $vertical_length $blur_radius $spread_radius $rgba;
  -moz-box-shadow: $horizontal_length $vertical_length $blur_radius $spread_radius $rgba;
  box-shadow: $horizontal_length $vertical_length $blur_radius $spread_radius $rgba;
}
@mixin hover($color, $background, $borderColor)  {
  color: $color;
  background: $background;
  border-color: $borderColor;
}
@mixin transition {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

@mixin transitionParam($param) {
  -webkit-transition: $param 0.5s ease;
  -moz-transition: $param 0.5s ease;
  -ms-transition: $param 0.5s ease;
  -o-transition: $param 0.5s ease;
  transition: $param 0.5s ease;
}

//@mixin flexWrap() {
//  -webkit-flex-wrap: wrap;
//  -moz-flex-wrap: wrap;
//  -ms-flex-wrap: wrap;
//  -o-flex-wrap: wrap;
//  -khtml-flex-wrap: wrap;
//  flex-wrap: wrap;
//}

@mixin flexWrap($param) {
  -webkit-flex-wrap: $param;
  -moz-flex-wrap: $param;
  -ms-flex-wrap: $param;
  -o-flex-wrap: $param;
  -khtml-flex-wrap: $param;
  flex-wrap: $param;
}

@mixin flex-direction-column {
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -khtml-flex-direction: column;
  flex-direction: column;
}

@mixin flex($jc,$ai) {
  display: flex;
  -webkit-justify-content: $jc;
  -moz-justify-content: $jc;
  -ms-justify-content: $jc;
  -o-justify-content: $jc;
  -khtml-justify-content: $jc;
  justify-content: $jc;
  -webkit-align-items: $ai;
  -moz-align-items: $ai;
  -ms-align-items: $ai;
  -o-align-items: $ai;
  -khtml-align-items: $ai;
  align-items: $ai;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin translateRotate($left,$top,$deg) {
  -webkit-transform: translate($left,$top);
  -moz-transform: translate($left,$top) rotate($deg);;
  -ms-transform: translate($left,$top) rotate($deg);;
  -o-transform: translate($left,$top) rotate($deg);;
  transform: translate($left,$top) rotate($deg);;
}

@mixin transformTranslate($left,$top) {
  -webkit-transform: translate($left,$top);
  -moz-transform: translate($left,$top);
  -ms-transform: translate($left,$top);
  -o-transform: translate($left,$top);
  transform: translate($left,$top);
}

@mixin transformTranslateX($left) {
  -webkit-transform: translateX($left);
  -moz-transform: translateX($left);
  -ms-transform: translateX($left);
  -o-transform: translateX($left);
  transform: translateX($left);
}

@mixin transformTranslateY($top) {
  -webkit-transform: translateY($top);
  -moz-transform: translateY($top);
  -ms-transform: translateY($top);
  -o-transform: translateY($top);
  transform: translateY($top);
}

@mixin resetTransformTranslate() {
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

@mixin resetTransformTranslateX() {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@mixin resetTransformTranslateY() {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@mixin scale($val) {
  -webkit-transform: scale($val);
  -moz-transform: scale($val);
  -ms-transform: scale($val);
  -o-transform: scale($val);
  transform: scale($val);
}

@mixin before() {
  content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0;
}

@mixin rowReverse() {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  -khtml-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@mixin resetTextarea() {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  white-space: nowrap;
  overflow-x: scroll;
}

@mixin resetBoxShadow() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}




@mixin convertPStoCSS($font,$val) {
  //$val = AV
  font-size: $font;
  letter-spacing: ($val/1000)+em;
  line-height: $font*1.2;
}

@mixin convertPStoCSS2($font,$val) {
  //$val = AL
  font-size: $font;
  //letter-spacing: ($val/1000)+em;
  //letter-spacing: ($val/200)+em;
  line-height: $font + (($val/2) * .95);
  //line-height: $font*1.9;
}


