$white: #FFFFFF;
$black: #000000;
$btn-bg-01: #50FF02;
$btn-bg-02: #48E500;
$btn-bg-03: #50FF00;
$shadow-01: rgba(72, 229, 0, 0.3);
$shadow-02: rgba(0, 0, 0, 0.1);
$color-gray-01: #F2F2F2;
$color-gray-02: #AAAAAA;
$color-gray-03: #E5E5E5;
$color-gray-04: #D6D6D6;
$color-gray-05: #808080;
$color-gray-06: #C9C9C9;
$color-blue-01: #0061FF;
$color-red-01: #FF3636;

//$maxWidth: 2560px;
$maxWidth: 1400px;
$grid: calcby(90px, 130px,0,null);

$breakpoints: (
    'mobile': (max-width: 576px),
    'mobile-wide': (max-width: 768px),
    'mobile-wide-min': (min-width: 768px),
    'navbar': (max-width: 860px),
    'bs-990': (max-width: 990px),
    'tablet': (max-width: 1024px),
    'laptop': (max-width: 1200px),
    'base': (max-width: 1280px),
    'desktop': (max-width: 1920px),
    'desktop-wide': (max-width: 2560px),
    'max-wide': (min-width: 2561px),
);


