a, input, a:after, label, .button, a span,.btn{
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
.slogan-wrapper, .slogan-wrapper p {
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-drive{
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
.header-wrapper{
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.btn-play b{
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.video-wrapper, .video-wrapper:after {
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.logo a img{
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.socials i:before{
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}