@font-face {
	font-family: 'icomoon';
	src:  url('../../../icomoon/fonts/icomoon.eot');
	src:  url('../../../icomoon/fonts/icomoon.eot') format('embedded-opentype'),
	url('../../../icomoon/fonts/icomoon.ttf') format('truetype'),
	url('../../../icomoon/fonts/icomoon.woff') format('woff'),
	url('../../../icomoon/fonts/icomoon.svg?cqrvcm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
	content: "\e900";
}
.icon-down:before {
	content: "\e901";
}
.icon-ebook-ban:before {
	content: "\e902";
}
.icon-expand-down:before {
	content: "\e903";
}
.icon-expand-up:before {
	content: "\e904";
}
.icon-Facebook_Logo_2019:before {
	content: "\e905";
	color: #aaa;
}
.icon-Instagram_logo:before {
	content: "\e906";
	color: #aaa;
}
.icon-left:before {
	content: "\e907";
}
.icon-left-slide .path1:before {
	content: "\e908";
	color: rgb(255, 255, 255);
}
.icon-left-slide .path2:before {
	content: "\e909";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-left-slide .path3:before {
	content: "\e90a";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-left-slide-2:before {
	content: "\e90b";

}
.icon-left-slide-2, .icon-right-slide-2 {
	&::before {@include transition();}
	&:hover {
		&::before {color: $color-gray-05}
	}
}
.icon-play:before {
	content: "\e90c";
}
.icon-play-ban:before {
	content: "\e90d";
}
.icon-podcast-ban:before {
	content: "\e90e";
}
.icon-right:before {
	content: "\e90f";
}
.icon-right-slide .path1:before {
	content: "\e910";
	color: rgb(255, 255, 255);
}
.icon-right-slide .path2:before {
	content: "\e911";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-right-slide .path3:before {
	content: "\e912";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-right-slide-2:before {
	content: "\e913";
}
.icon-send:before {
	content: "\e914";
}
.icon-up:before {
	content: "\e915";
}



@font-face {
	font-family: 'montserrat-bold';
	src:  url('../../../fonts/montserrat/Montserrat-Bold.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'montserrat-semibold';
	src:  url('../../../fonts/montserrat/Montserrat-SemiBold.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'montserrat-medium';
	src:  url('../../../fonts/montserrat/Montserrat-Medium.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'montserrat-regular';
	src:  url('../../../fonts/montserrat/Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'montserrat-light';
	src:  url('../../../fonts/montserrat/Montserrat-Light.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
