@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qjx5bi');
  src:  url('fonts/icomoon.eot?qjx5bi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qjx5bi') format('truetype'),
    url('fonts/icomoon.woff?qjx5bi') format('woff'),
    url('fonts/icomoon.svg?qjx5bi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-check:before {
  content: "\e900";
  color: #fff;
}
.icon-icon-plus:before {
  content: "\e901";
  color: #fff;
}
.icon-icon-produkty:before {
  content: "\e902";
  color: #8854d0;
}
.icon-icon-strzalka:before {
  content: "\e903";
  color: #c9c9d0;
}
.icon-icon-ustawienia:before {
  content: "\e904";
  color: #45aaf2;
}
.icon-icon-uzytkownik:before {
  content: "\e905";
  color: #fa8231;
}
.icon-icon-wiadomosci:before {
  content: "\e906";
  color: #eb3b5a;
}
.icon-icon-zamowienia:before {
  content: "\e907";
  color: #3867d6;
}
.icon-icon-zawartosc:before {
  content: "\e908";
  color: #0fb9b1;
}
