.btn {
  @include button(auto,44px,2px,22px,$btn-bg-02,$btn-bg-02,$white,12px); @include transition(); @include flex(flex-start,center); font-weight: 700; padding-left: 20px; padding-right: 14px; width: 190px;
  .btn__internal {
    @include flex(space-between,center); width: 100%;
    .btn__label {position: relative; font-family: montserrat-bold; font-size: 13px; color: $white;}
    .btn__icon {
      position: relative; width: 20px; height: 20px; display: block;
      &::before {@include transformTranslate(-50%,-50%); @include transition(); color: $white; position: absolute; top: 50%; left: 50%}
    }
  }

  &.btn-bg {@include boxShadow(0px,9px,18px,0px,$shadow-01)}
  &.btn-outline {
    color: $btn-bg-01; background: transparent;
    .btn__label {color: $btn-bg-02}
    .btn__icon {
      &::before {color: $btn-bg-02}
    }
  }

  &:hover {
    .btn__icon {
      &::before {left: calc(50% + 2px);}
    }
  }
  &.btn-bg:hover {
    @include hover(initial, $btn-bg-03, $btn-bg-03);
  }
  &.btn-outline:hover {
    @include hover($btn-bg-03, initial, $btn-bg-03);
  }
}
a.back-to-top {
  @include transition(); background-color: $btn-bg-02;
  &:hover{background-color: $btn-bg-03}
}

