.form {
  background: transparent; padding: 0;
  .form-group {
    position: relative; margin-bottom: 35px;
    .form-control-input__parent {position: relative}
    .form-control-input:focus + .label-control, .form-control-input.notEmpty + .label-control, .form-control-textarea:focus + .label-control, .form-control-textarea.notEmpty + .label-control {top: 0; background: $white; font-family: montserrat-regular; color:  $color-gray-05; padding: 0 5px;}
    .form-control-input:focus {border-color: $color-gray-05}
    .form-control-input, .selectric-wrapper {background: $white; font-family: montserrat-regular; color: $black; height: 44px; border-radius: 22px; border: 1px solid $color-gray-06; padding: 0 20px;}
    .selectric-wrapper {
      .selectric {
        border: none; background: transparent; height: 100%;
        .label {margin: 0; padding: 0; height: 100%; line-height: 42px; padding-right: 25px;}
        .icon {
          @include transformTranslateY(-50%); top: 50%; right: 0; width: 16px; height: 16px; color: transparent; position: absolute;
          &::before {@include transition(); content: '\e901'; display: block; position: absolute; color: $black; font-family: icomoon; font-size: 8px; text-align: center; width: 16px; line-height: 16px;}
        }
      }
      .selectric-items {
        @include resetBoxShadow(); width: calc(100% + 2px) !important; left: -1px; border-bottom-left-radius: 22px; border-bottom-right-radius: 22px; overflow: hidden;
      }

      &.selectric-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .selectric {
          .icon {
            &::before {@include rotate(180deg);}
          }
        }
      }
    }
    &.custom-checkbox {
      label {
        display: block;position: relative;padding-left: 25px;margin-bottom: 12px;cursor: pointer;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
        input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0; z-index: 2; width: 100%; height: 100%;left: 0;}
        .checkmark {
          position: absolute;top: 0;left: 0;height: 17px;width: 17px; border: 1px solid $black; z-index: 1;
          &::after {@include transformTranslate(-50%,-50%); left: 50%; top: 50%; content: '\e900'; font-family: icomoon; position: absolute;display: none; font-size: 8px; color: $btn-bg-02;}
        }
        .regular-paragraph {@include convertPStoCSS2(12px,23); color: $color-gray-05; display: block; margin-bottom: 0 !important;}
        input:checked ~ .checkmark {
          &::after {display: block;}
        }
      }
    }
    .label-control {@include transformTranslateY(-50%); color: $color-gray-06; top: 50%; left: 20px;}
    .help-block {
      font-family: montserrat-regular;
      &.with-errors {
        li {color: $color-red-01;font-size: 12px; padding: 0 20px;}
      }
      &.help-block__custom {@include convertPStoCSS2(12px,22); color: $color-gray-05; display: block; margin-top: 20px;}
    }
    .list-unstyled {
      li {margin: 0}
    }
    .btn {
      margin-top: 50px;
      &.disabled {opacity: 1}
    }
    &.with-star {
      &::before {content: "*";display: block; position: absolute; left: -2px; top: -2px; width: 0; height: 0; font-size: 12px; color: $color-blue-01;}
    }
    &:last-child {margin-bottom: 0}

  }
  .form-message .h3 {text-align: left !important; font-size: 15px; font-weight: bold; margin-bottom: 20px; color: $color-red-01}
  ::-webkit-input-placeholder {color: $color-gray-05; font-family: montserrat-regular; font-size: 14px;}
  :-ms-input-placeholder {color: $color-gray-05; font-family: montserrat-regular; font-size: 14px;}
  ::placeholder {color: $color-gray-05; font-family: montserrat-regular; font-size: 14px;}

}