h1,h2,h3,h4 {color: $black;font-family: montserrat-bold; width: 100%; display: block}
h1 {
  @include convertPStoCSS2(59px,15);letter-spacing: -.01em;
  @include respond-to('tablet') {
    @include convertPStoCSS2(45px,12);
  }
  @include respond-to('mobile') {
    @include convertPStoCSS2(25px,11);
  }
}
h2 {
  @include convertPStoCSS2(37px,16);letter-spacing: -.01em;
  @include respond-to('tablet') {
    @include convertPStoCSS2(30px,15);
  }
  @include respond-to('mobile') {
    @include convertPStoCSS2(20px,14);
  }
}
h3 {
  @include convertPStoCSS2(32px,16);letter-spacing: -.01em; font-family: montserrat-semibold;
  @include respond-to('tablet') {
    @include convertPStoCSS2(28px,15);
  }
  @include respond-to('mobile') {
    @include convertPStoCSS2(18px,14);
  }
}
h4 {
  @include convertPStoCSS2(20px,16);letter-spacing: -.01em; font-family: montserrat-semibold;
  @include respond-to('tablet') {
    @include convertPStoCSS2(18px,15);
  }
  @include respond-to('mobile') {
    @include convertPStoCSS2(14px,13);
  }
}