.list-of-benefits {
  max-width: 420px;
  .medium-paragraph, .regular-paragraph {
    position: relative; margin-bottom: 60px !important;  display: inline-block;
    &::before {font-family: icomoon; position: relative; display: block;font-family: montserrat-bold; color: $color-blue-01; font-size: 20px; position: absolute; left: 0;}
  }
  &.to--left {
    .medium-paragraph, .regular-paragraph {
      padding-left: 25px;
      &::before {content: '>';}
    }
  }
  &.to--right {
    margin-left: auto;
    .medium-paragraph, .regular-paragraph {
      text-align: right;padding-right: 25px;
      &::before {content: '<'; right: 0; left: auto}
    }
  }
}