.blocker {z-index: 10000}

.modal {
  border-radius: 30px; border: 5px solid $color-gray-03; overflow: initial; position: relative; padding: 0; width: 100%;
  a.close-modal {
    background: $color-gray-05; width: 40px; height: 40px; border-radius: 50%; right: -20px; top: -20px; color: transparent; text-indent: inherit;
    &::before {@include translateRotate(-50%,-50%,45deg); content: '\e925'; font-family: icomoon;display: inline-block; position: absolute; top: 50%; left: 50%; font-size: 20px; color: $white;}
  }
  &#modal-update-your-career {
    max-width: 944px; width: 100%;
    b {display: inline}
    .modal__internal {
      padding: 10px 0 ; height: 100%;
      .modal__internal-scroll {padding: 65px 84px; overflow-y: auto; color: $black; height: 100%;}
      h3 {font-size: 30px; margin-bottom: 15px;}
      h4 {font-size: 26px; margin-bottom: 40px;}
      .regular-paragraph {
        margin-bottom: 40px;
        &[class*="regular-paragraph--with-image-"] {
          @include flex(space-between, flex-start);
          &::before {display: block; position: relative; left: 0; top: 0; margin-right: 20px; width: 80px; width: 80px; text-align: center;}
        }
        &.regular-paragraph--with-image-1 {
          &::before {content:url('../../../images/SVG/Warstwa_x0020_1.svg');}
        }
        &.regular-paragraph--with-image-2 {
          &::before {content:url('../../../images/SVG/Group%20599.svg');}
        }
        span {width: calc(100% - 80px);}
      }
      .list-of-tips {
        max-width: 100%; margin-top: 5px; margin-bottom: 15px;
        .regular-paragraph {
          margin-bottom: 20px !important; width: 100%;
          &:nth-child(even) {
            padding-left: 0;
            &::before {display: none}
          }
        }
      }
      .link {color: $color-blue-01; text-decoration: underline; display: block; margin-bottom: 50px;}
    }
  }
  @include respond-to('navbar') {
    &#modal-update-your-career .modal__internal h3 {font-size: 25px}
    &#modal-update-your-career .modal__internal h4 {font-size: 20px;}
    &#modal-update-your-career .modal__internal .modal__internal-scroll {padding: 25px;}
  }
  @include respond-to('mobile') {
    &#modal-update-your-career .modal__internal h3 {font-size: 20px}
    &#modal-update-your-career .modal__internal h4 {font-size: 18px;}
    &#modal-update-your-career .modal__internal .modal__internal-scroll {padding: 15px;}
    &#modal-update-your-career .modal__internal .regular-paragraph[class*="regular-paragraph--with-image-"] {
      @include flexWrap(wrap);
      span {width: 100%}
      &::before {margin: 0 auto; margin-bottom: 15px;}
    }
  }
}