.semibold-paragraph {
  @include convertPStoCSS2(18px,46); color: $black; font-family: montserrat-semibold;
  @include respond-to('tablet') {
    @include convertPStoCSS2(16px,26);
  }
  @include respond-to('mobile') {
    @include convertPStoCSS2(15px,22);
  }
}
.medium-paragraph {
  @include convertPStoCSS2(18px,26); color: $black; font-family: montserrat-medium;
  @include respond-to('tablet') {
    @include convertPStoCSS2(16px,26);
  }
  @include respond-to('mobile') {
    @include convertPStoCSS2(15px,22);
  }
}
.regular-paragraph {
  @include convertPStoCSS2(14px,22); color: $black; font-family: montserrat-regular;
  @include respond-to('tablet') {
    @include convertPStoCSS2(13px,20);
  }
  @include respond-to('mobile') {
    @include convertPStoCSS2(12px,18);
  }
}
.bold-paragraph {
  @include convertPStoCSS2(20px,36); color: $black; font-family: montserrat-bold;
  @include respond-to('tablet') {
    @include convertPStoCSS2(18px,30);
  }
  @include respond-to('mobile') {
    @include convertPStoCSS2(16px,26);
  }
}