.person {
  text-align: center;
  .figcaption {
    margin-top: 37px;
    .main__label {@include convertPStoCSS2(17px,20); font-family: montserrat-semibold; color: $black;}
    .icon {width: 16px; margin: 0 auto; display: block; margin-top: 10px; margin-bottom: 15px;}
    .description {@include convertPStoCSS2(14px,16); font-family: montserrat-regular; color: $black; max-width: 350px; margin: 0 auto}
  }
}