.video-container {
  position: relative;
  .video-play-button {
    @include transformTranslate(-50%,-50%);position: absolute; left: 50%; top: 50%;
    &::before {@include transition(); font-size: 65px; color: $white}
  }
  &:hover {
    .video-play-button {
      &::before {color: $btn-bg-02}
    }
  }
}