.group-swiper {
  @include flex(space-between,center);position: relative; max-width: 400px;
  .icon-left-slide, .icon-right-slide {
    position: relative; display: block; width: 30px; height: 30px;
    .path2, .path3 {
      @include transformTranslate(-50%,-50%); top: 50%; left: 50%; display: block; position: absolute;
      &::before {@include transition(); @include transformTranslate(50%,-50%); top: 50%; left: 50%; display: block; position: absolute; font-size: 30px; color: $color-gray-03}
    }
    &:hover {
      .path2, .path3 {
        &::before {color: $color-gray-02}
      }
    }
  }
  .swiper-pagination {
    @include flex(space-between,center); position: relative; width: calc(100% - 100px);counter-reset: counter;
    .swiper-pagination-bullet {
      width: 100%; height: 4px; border-radius: 0;background: $color-gray-03;position: relative;
      &:first-child {border-top-left-radius: 2px; border-bottom-left-radius: 2px;}
      &:last-child {border-top-right-radius: 2px; border-bottom-right-radius: 2px;}
      &::before {counter-increment: counter; content: counter(counter); visibility: hidden}

      &.swiper-pagination-bullet-active {
        background: $color-gray-02; border-radius: 2px;
        &::before {@include transformTranslate(-50%,-12px); position: absolute; left: 50%; display: block; font-family: montserrat-light; font-size: 10px; color: $black; visibility: visible; width: 100%;}
      }
    }
  }
  .swiper-button-prev, .swiper-button-next {width: initial; height: initial; margin-top: 0; position: relative}
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {background: transparent;}

  @include respond-to('tablet') {
    margin: 0 auto; top: 0;
    .swiper-button-prev {left: 0}
    .swiper-button-next {right: 0}
  }
}

.swiper-container {
  .swiper-slide {
    figure {
      img {width: 100%}
    }
  }

  &.swiper-home {
    .swiper-slide {
      [class*="col-"] {padding-left:0; padding-right: 0;}
      &:last-child {
        figure {
          img {width: 80%}
        }
      }
    }
  }
  &.swiper-story-transformation {
    .swiper-slide {
      .image-container {

      }
      .description-container {
        max-width: 600px; position: relative; padding-top: 30px;
        .semibold-paragraph {margin-bottom: 20px;}
        .regular-paragraph {}
        .btn-outline {margin-top: 50px;}
        &::before, &::after {width: 50px; height: 40px; color: $color-blue-01; display: block; position: absolute; top: calc(50% + 30px); right: -80px; font-size: 60px; line-height: 40px; }
        &::before {content: '<'; right: -40px;text-align: left}
        &::after {content: '>'; text-align: right}
      }
    }
  }
  &.swiper-motivation {
    .swiper-slide {
      figure {
        > img {max-width: 226px; border: 8px solid $color-gray-04; border-radius: 50%}
      }
    }
    [class*="swiper-button-"] {background: none; color: $color-gray-02; font-size: 40px;}
  }
  &.swiper-partners {
    .swiper-wrapper {
      .swiper-slide {
        @include flex(center,center);width: calc(100% / 5); text-align: center;
        img {max-width: 50%;}
      }
    }
  }
}

