
//.tooltip-wrapper.active {opacity: 1;visibility: visible;}
.tooltip-wrapper {
  background: #132B57;padding: 10px;border-radius: 10px;position: absolute;top: -5px;left: 0;-webkit-transform: translate(0,-100%);-ms-transform: translate(0,-100%);transform: translate(0,-100%);opacity: 0;visibility: hidden;color: #fff;font-size: 10px;line-height: 17px;max-width: 600px;
  &.active {
    opacity: 1;visibility: visible;
    .tooltip {position: relative; color: white; opacity: 1; visibility: visible; font-family: montserrat-regular; font-size: 12px; color: $white}
  }
  &::before {width: 0;height: 0;border-left: 9.5px solid transparent;border-right: 8.5px solid transparent;border-top: 8.5px solid #132B57;content: '';bottom: -8px;position: absolute;left: 50%;-webkit-transform: translate(-50%,-0%);-ms-transform: translate(-50%,0%);transform: translate(-50%,0%);}
}
