html, body
{
    height: 100%;
}

body {
	background-color: #EFEFF4;
	color: #000;
	width: 100%;
	height: 100%;
	font-size: 13px;
	color: #fff;
}

*:focus  
{  
    outline: none;  
}

a, a:hover { color: #000; transition: color 0.2s ease; }



.btn-primary, .cyrek-digital .btn-success{background-color: #3867D6; border-radius: 3px; -webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10); border:0px; transition: all 0.5s ease;}
.cyrek-digital .widget-header h3 {font-size: 10px;color: #C4C4C4;font-weight: normal;}
.btn-primary:hover, .cyrek-digital .btn-success:hover{background-color: #3965BC;}


/*----inputs-----*/

.form-control{border:1px solid #EFEFF4;}


/* layout */
.container-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	padding-bottom:50px;
}
.container {
	max-width: none !important;
	padding: 0;
	width: 100%;
	height: 100%;
}

.header-wrapper {
	max-width: none !important;
	padding: 0;
	background-color: ##EFEFF4;
	position: fixed;
	min-height: 50px;
	width: 100%;
	z-index: 1000
	
}

.header {
	
	background-color: #EFEFF4;
	color: white;
	padding-left: 60px;
    padding-right: 60px;
	min-height: 50px;
	clear: both;
}
.sidebar-wrapper {
	background-color: #f7f7f7;
	color: #000;
	display: table-cell;
	float: none!important;
}
.content-wrapper {
	color: #000;
	padding: 196px 60px;
	display: table-cell;
	float: none!important;
	min-height: 600px;
	height: 100%;
}


.footer-wrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #ABABB1;
	padding-left: 60px;
	padding-right: 60px;
	line-height: 60px;
	color: #fff;
	height: 60px;
	z-index: 1000;
	font-weight: 500;
    font-size: 15px;
    -webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);

}
.footer-wrapper a{color: white}

/*  header */

.header a{
	color:#000;
}
.header a:hover{
	color:#fff;
}
.header .nav .caret {
	border-top-color: #d6d6d6;
	border-bottom-color: #d6d6d6;
}
.header .nav  a:hover .caret{
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.head-info-panel.clearfix {
    background-color: #EFEFF4;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
   
    height: 60px;
    line-height: 60px;
}

.menu-panel {padding-left: 60px;padding-right: 60px;-webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05); background-color: #fff;}

.nav.navbar-nav.navbar-content li a i {font-size: 32px;float: left;display: block; text-align: center;width: 100%;}
.nav.navbar-nav.navbar-content li a span{float: left;text-align: center;width: 100%;margin-top: 8px;font-size: 13px; color:#AAAAAF;}
.nav.navbar-nav.navbar-content li{height: 82px; width: 132px;}
.navbar-nav > li > a {display: block; height: 100%;transition: all 0.5s ease;}
.navbar-user li {margin: 0;padding: 0;line-height: 32px; text-align: right;background-color: #EFEFF4; height: 32px; border-radius: 3px;}
.navbar-user li a{padding:0px!important; padding-right: 20px!important; display: block; line-height: 32px;}
.navbar-user li .dropdown-menu{top: 50px;}
.navbar-nav.navbar-user > li > a{height: 60px;margin: 0;padding: 0!important;line-height: 60px;}
i.icon-icon-wiadomosci:before {content: "\e906";color: rgb(235, 59, 90);}

.dropdown-menu{right: 0px; min-width: 182px; left: initial; padding: 0px;    border: 0px;-webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);border-radius: 3px;}
.nav.navbar-nav.navbar-content li .dropdown-menu li {height: auto;width: auto;}
.nav.navbar-nav.navbar-content li .dropdown-menu li  a{padding: 0px!important; text-align: right; line-height: 33px; height: 33px;padding-right: 26px!important; font-size: 12px;}
.nav.navbar-nav.navbar-content li .dropdown-menu li  a i{display: none;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color: #3867D6;}

.nav > li.user > a:hover, .nav > li.user > a:focus{background-color: transparent;color: #AAAAAF;}
.nav > li:hover .dropdown-menu {display: block;}
.nav.navbar-nav.navbar-content li a span i {font-size: 10px;display: contents;}
/* end header */


.widget-container{
	-webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);
	margin-bottom: 14px;
	background-color: #fff;
	border: 0px;
	border-radius: 3px;	
}
.widget-header h3{margin: 0px; padding: 5px 10px; font-size: 18px; color: #707070; }
.widget-header{border-bottom: 1px solid #e1e1e8; margin-bottom: 10px; position: relative; }

h2, .h2 {font-size: 20px;font-weight: 600;}
h2 small a {color: #a0a0a0; text-decoration: underline}
h2 small a:hover{color: #a0a0a0; text-decoration: underline}



.add-item {background: #3867D6;color: #fff;width: 36px;display: inline-block;height: 36px;line-height: 36px;text-align: center;text-decoration: none;font-size: 18px;position: relative;top: 0px;left: 20px;border-radius: 3px;transition: 0.5s ease;-webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);}
.add-item i{font-size: 10px;position: relative;top: -2px;}
.add-item:hover{text-decoration: none; color: #fff; background-color: #204285;}

.control-group{clear: both; overflow: auto; margin-bottom: 15px}
.relative {position: relative}
.clear{clear: both; overflow: auto}

.language-bar ul {clear: both;}
.language-bar ul li {float: left;list-style-type: none; margin-right: 3px}
.language-bar {position: absolute; top: 0px; right: 0px}
.language-bar img{border: 1px solid #eaeaea;}

/* forms */
.bootstrap-datetimepicker-widget ul{padding-left: 0px}
.timepicker-picker a,.picker-switch a {color: black}
.form-checkbox{height: 34px;display: block;
width: 16px;
height: 16px;
padding: 0px;
font-size: 14px;
line-height: 1.428571429;
color: #000;
draggable-align: middle;
}

/* end forms */



/* show/hide widget */
i.hide-widget { position: absolute; right: 1%; top: 7px; cursor: pointer; color: #CFD1CF; transition: color 0.3s ease; }
i.hide-widget:hover { color: #707070; transition: color 0.3s ease; }
/* end show/hide widget */

/* items table */
/*table.items-list { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }*/
table.items-list { width: 100%; border-collapse: collapse; -webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);}
table.items-list tr.header td, table.items-list tr.header:hover td 
{
	background-color: #61616F;	
	padding: 0.5em; 
	border: 1px solid #EFEFF4;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	color: #fff;
}

table.items-list tr td { background: #fff; border: 1px solid #EFEFF4;padding: 0.5em; transition: background-color 0.2s linear; -moz-transition: background-color 0.2s linear; -webkit-transition: background-color 0.2s linear; }
table.items-list tr td a { color: #707070; text-decoration: none; }
table.items-list tr td a:hover { text-decoration: underline; }
table.items-list tr:hover td { background-color: #fcfcbd; transition: background-color 0.2s linear; -moz-transition: background-color 0.2s linear; -webkit-transition: background-color 0.2s linear; color: #000; }
table.items-list tr:hover td a:hover { color: #3b53cc; }
/* end of items table */

/* nav tabs */
.nav-tabs { border-bottom: 1px solid #E1E1E8; width: 98%;}
.nav-tabs li { border-bottom: 1px solid #E1E1E8; }
.nav-tabs li a { background: #E1E1E8; }
.nav-tabs li.active { border-bottom: 1px solid #F3F3F3; }
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:active
{
	border: 1px solid #E1E1E8;
	background: #Fff;
	border-bottom: 1px solid #F3F3F3;
	color: #000;
	font-weight: 600;
}

.nav-tabs li.active a:hover{
	background-color: #F3F3F3 !important;
	color: #000000;
	
}

.tab-content { width: 98%; padding: 1%; background: #FFFFFF;  border: 0px solid #E1E1E8; border-top: none;  -webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);}
/* end of nav tabs */

/* wiadomosci */
#messages { width: 96%; padding-left: 2%; padding-right: 2%; list-style: none;     margin-top: 50px;}
#messages li { display: block; transition: all 0.5 ease; background: #FFFFFF; border: 0px solid #EAEAEA; margin-bottom: 30px; border-radius: 5px; padding-bottom: 20px; padding-top: 20px; -webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);}
#messages li.email-active {  -webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.20);-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.20);box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.20);}
.message { display: table; width: 100%; }
.message-action { display: table-cell; width: 5%; text-align: center;}
.message-content-wrapper { display: table-cell; }
.email-actions a:hover,.email-actions a:focus{color: #617b90;}

.message-actions { width: 100%; padding-top: 15px; padding-bottom: 15px; }
.message-actions a { color: #707070; }
.message-actions a:hover { color: #000; }
.message-actions a#removeChecked { color: red; }

.widget-container.mails {background: transparent;border: 0px;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;}
.widget-container.mails #messages {width: 60%;padding: 0px;}

/* end of wiadomosci */

/* page-list */
.page-list { margin: 0; padding: 0; width: 100%; }
.page-list li { display: block; width: 100%; position: relative; }
.page-list li div 
{ 
	width: 96%;
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 47%, #F0ECE9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 47%, #F0ECE9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(center top , #FFFFFF 0%, #F6F6F6 47%, #F0ECE9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	
	border-style: solid;
	border-width: 1px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	padding: 6px;
	position: relative;  
}

.page-list li div .page-options { position: absolute; right: 1%; top: 20%; }
.page-list li div a { color: #AAAAAA; }
.page-list li div a:hover { color: #000; }

/* files add */

#upload-container { width: 100%; margin-bottom: 10px}
#upload-container a#uploadfiles {display:none}
#upload-container #upload-header { width: 100%; height: 25px; line-height: 25px; background: #2E3133; color: #fff; display: table; padding: 3px;}
#upload-container #upload-header #upload-header-filename { width: 60%; display: table-cell; padding-left: 10px}
#upload-container #upload-header #upload-header-desc { width: 20%; display: table-cell; padding-left: 10px; }
#upload-container #upload-header #upload-header-size { width: 10%; display: table-cell; text-align: center; }
#upload-container #upload-header #upload-header-delete { width: 10%; display: table-cell; text-align: center; }
#upload-container #upload-content { display: block; margin-top: 1%; }

#files-list { width: 100%; min-height: 100px; border: 1px solid #2E3133; border-top: 0px; }
#files-list .file-item-desc { border-left: 1px dotted #2E3133; width: 20%; display: table-cell; padding: 3px; position: relative; vertical-align: middle; }
#files-list .file-item-desc input { width: 100%; height: 25px; font-size: 12px; padding: 1%; }
.file-item { display: table; width: 100%; border-bottom: 1px dotted #2E3133; }
.file-item .file-item-name { width: 60%; display: table-cell; padding: 3px; position: relative; vertical-align: middle; }
.file-item .file-item-size { width: 10%; display: table-cell; padding: 3px; text-align: center; border-left: 1px dotted #2E3133; vertical-align: middle;}
.file-item .file-item-delete { width: 10%; display: table-cell; padding: 3px; text-align: center; border-left: 1px dotted #2E3133; vertical-align: middle; }
.file-item .file-item-delete a { color: #BC0B0B; }
.preloader { display: inline-block; relative; width: 16px; height: 16px; background: url('/images/backend/preloader.gif') 0 0 transparent scroll no-repeat; }
.upload-success-msg, .remove-success-msg { display: none; color: green; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; }

/* lista obrazkow w galerii */
.images-list { width: 100%; }
.image-check { float: left; display: block; padding: 10px; }
.image-item { width: 100%; display: block; margin-bottom: 10px; border: 1px solid rgba(0,0,0,0); transition: border 0.3s ease; -moz-transition: border 0.3s ease; -webkit-transition: border 0.3s ease; }
.image-item:hover { border: 1px solid rgba(0,0,0,0.3); transition: border 0.3s ease; -moz-transition: border 0.3s ease; -webkit-transition: border 0.3s ease; }
.image-item a { color: #AAAAAA; }
.image-item-even { background: #fff; }
.image-item-odd { background: #E2E3E2; }
.image-img { display: block; width: 100px; height: 100px; text-align: center; draggable-align: middle; overflow: hidden; float: left; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset; }
.image-img img { draggable-align: middle; }
.image-name { display: block; padding: 10px;draggable-align: middle; float: left; font-size: 14px;  }
.image-actions { display: block; width: 50px; padding: 10px; draggable-align: middle; float: right; }
a.removeFromGallery { color: #BC0B0B; }
a.removeFromGallery:hover, .removeFromGallery:active { color: #FF0000; }

/* akcje do zmiany opisu */
a.change-description-trigger { display: none; transition: all 0.3s ease 0s; }
.image-item:hover a.change-description-trigger, .attach-item:hover a.change-description-trigger { display: block; transition: all 0.3s ease 0s; }
a.change-description-trigger:hover { color: #1A2F58; }
.save-change-description { background: url("/images/backend/save.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: inline-block; height: 16px; padding: 3px; width: 16px; }
.cancel-change-description { background: url("/images/backend/cancel.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: inline-block; height: 16px; padding: 3px; width: 16px; }

#checked-all-actions { margin-top: 10px; margin-bottom: 10px; } 
#checked-all-actions #delete-checked { color: #BC0B0B; color: #FF0000; }

/* uploader zalacznikow */
#upload-attachement, .attachement-add-success-msg, .attachement-remove-success-msg { display: none; }
#attachements-content { width: 100%; margin-top: 10px; overflow: hidden; }
#attachement-header { width: 100%; height: 25px; line-height: 25px; background: #2E3133; color: #fff; display: table; padding: 3px; }
#attachement-header-filename { width: 60%; display: table-cell; padding-left: 10px; }
#attachement-header-desc { width: 20%; display: table-cell; padding-left: 10px; }
#attachement-header-size { width: 10%; display: table-cell; padding-left: 10px; }
#attachement-header-delete { width: 10%; display: table-cell; padding-left: 10px; }

#attachements-list { width: 100%; min-height: 100px; border: 1px solid #2E3133; border-top: 0px; }
#attachements-list .attach-item-desc { border-left: 1px dotted #2E3133; width: 20%; display: table-cell; padding: 3px; position: relative; vertical-align: middle; }
#attachements-list .attach-item-desc input { width: 100%; height: 25px; font-size: 12px; padding: 1%; }
.attached-item { display: table; width: 100%; border-bottom: 1px dotted #000; }
.attached-item .attach-item-name { width: 60%; display: table-cell; padding: 3px; position: relative; vertical-align: middle; }
.attached-item .attach-item-size { width: 10%; display: table-cell; padding: 3px; text-align: center; border-left: 1px dotted #2E3133; vertical-align: middle;}
.attached-item .attach-item-delete { width: 10%; display: table-cell; padding: 3px; text-align: center; border-left: 1px dotted #2E3133; vertical-align: middle; }
.attached-item .attach-item-delete a { color: #BC0B0B; }

#attached-files-list { width: 100%; margin-top: 10px; }
.attach-check { float: left; display: block; padding: 10px; }
.attach-item { width: 100%; display: block; margin-bottom: 10px; border: 1px solid rgba(0,0,0,0); transition: border 0.3s ease; -moz-transition: border 0.3s ease; -webkit-transition: border 0.3s ease; }
.attach-item:hover { border: 1px solid rgba(0,0,0,0.3); transition: border 0.3s ease; -moz-transition: border 0.3s ease; -webkit-transition: border 0.3s ease; }
.attach-item a { color: #AAAAAA; }
.attach-item-even { background: #fff; }
.attach-item-odd { background: #E2E3E2; }
.attach-img { display: block; width: 100px; height: 100px; text-align: center; draggable-align: middle; overflow: hidden; float: left; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset; }
.attach-img img { draggable-align: middle; }
.attach-name { display: block; padding: 10px;draggable-align: middle; float: left; font-size: 14px;  }
.attach-actions { display: block; width: 50px; padding: 10px; draggable-align: middle; float: right; }
a.removeFromAttach { color: #BC0B0B; }
a.removeFromAttach, a.removeFromAttach { color: #FF0000; }

/* states */
.box-active { background: #fcfcbd; border: 1px solid #e5e554; }
#delete-checked { display: none; }

@media (min-width: 1200px) {
	span.hidden-xs {display: inline !important}
	.navbar-nav{margin: 0px}
	.navbar-nav a{padding: 15px 5px 15px 10px !important}
	.dropdown-menu a{padding: 3px 15px !important}
	#users-list tr td.td-res-email, #users-list tr td.td-res-role { display: table-cell; }
}
@media (min-width: 992px) and (max-width: 1199px) {
	span.hidden-xs {display: inline !important}
	.navbar-nav a{padding: 15px 5px 15px 10px !important}
	.dropdown-menu a{padding: 3px 15px !important}
	.dropdown-menu .divider{width: 100%}
	#users-list tr td.td-res-email, #users-list tr td.td-res-role { display: table-cell; }
}
@media (min-width: 768px) and (max-width: 991px) {
	span.hidden-xs {display: inline !important}
	.navbar-user li.dropdown.user{width: 100%; text-align: right}
	.navbar-user .username{display: none !important}
	.navbar-nav a{padding: 15px 5px 15px 10px !important}
	.dropdown-menu a{padding: 3px 15px !important}
	.dropdown-menu {text-align: left; position: absolute !important;top: 100%  !important;left: 0 !important;	z-index: 1000 !important;float: left !important; min-width: 160px !important;padding: 5px 0 !important;margin: 0px 0 0 !important;font-size: 13px !important;list-style: none !important;background-color: rgba(255, 255, 255, 0.98) !important;border: 1px solid #cccccc !important;border: 1px solid rgba(0, 0, 0, 0.15) !important;border-radius: 4px !important;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;	background-clip: padding-box !important;}
	.navbar-user ul.dropdown-menu{ left:-160px !important; }
	.dropdown-menu .divider{width: 100%}
	
	#users-list tr td.td-res-hide { display: none; }
	#users-list tr td { text-align: center; }
	#users-list tr td.td-res-email, #users-list tr td.td-res-role { display: table-cell; }
	
}

@media (max-width: 767px) {
	span.hidden-xs {display: none !important}
	.navbar-nav li{float: left  !important}
	.navbar-nav{margin: 0px}
	.navbar-nav a{padding: 15px 5px 15px 10px !important}
	.navbar-user {float: right !important;}
	

	.navbar-user li.dropdown.user{width: 100%; text-align: right}
	.navbar-content {float: left !important; clear: none !important}
	.navbar-user .username{display: none !important}
	.dropdown-menu a{padding: 3px 15px !important}
	.dropdown-menu {text-align: left; position: absolute !important;top: 100%  !important;left: 0 !important;	z-index: 1000 !important;float: left !important; min-width: 160px !important;padding: 5px 0 !important;margin: 0px 0 0 !important;font-size: 13px !important;list-style: none !important;background-color: rgba(255, 255, 255, 0.98) !important;border: 1px solid #cccccc !important;border: 1px solid rgba(0, 0, 0, 0.15) !important;border-radius: 4px !important;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;	background-clip: padding-box !important;}
	.navbar-user ul.dropdown-menu{  left:-160px !important; }
	.dropdown-menu .divider{width: 100%}
	
	#users-list tr td.td-res-hide { display: none; }
	#users-list tr td.td-res-role { display: table-cell; }
	#users-list tr td { text-align: center; }
	
}
@media screen and (max-width: 400px)
{
	span.hidden-xs {display: none !important}
	.navbar-nav li{float: left  !important}
	.navbar-nav{margin: 0px}
	
	.navbar-nav a{padding: 15px 5px 15px 10px !important}
	.navbar-user {float: right !important;}
	.navbar-user li.dropdown.user{width: 100%; text-align: right}
	.navbar-content {float: left !important; clear: none !important}
	.navbar-user .username{display: none !important}
	.dropdown-menu a{padding: 3px 15px !important}
	.dropdown-menu {text-align: left; position: absolute !important;top: 100%  !important;left: 0 !important;	z-index: 1000 !important;float: left !important; min-width: 160px !important;padding: 5px 0 !important;margin: 0px 0 0 !important;font-size: 13px !important;list-style: none !important;background-color: rgba(255, 255, 255, 0.98) !important;border: 1px solid #cccccc !important;border: 1px solid rgba(0, 0, 0, 0.15) !important;border-radius: 4px !important;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;	background-clip: padding-box !important;}
	.navbar-user ul.dropdown-menu{ left:-160px !important; }
	.dropdown-menu .divider{width: 100%}
	
	#users-list tr td.td-res-hide { display: none; }
	#users-list tr td { text-align: center; }
}





/*----Nowe-DDD----*/
.content-wrapper .dd-handle {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    padding: 0px;
    padding-left: 20px;
    font-weight: bold;
    background: #fff;
    border: 0px;
    margin: 15px 0px;
    -webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);

}


.options-page {
    position: relative;
    width: 40px;
    height: 40px;
    float: right;
    padding-left: 20px;
   
}
.options-page:before{position: absolute; content: "\e903"; font-family: "icomoon"; color: #C9C9D0; font-size: 9px;}
.content-wrapper .dd-item .options-page:hover .action{display: block;}
.content-wrapper .dd-item span.action{width: 126px; background-color: #FFFFFF;
    border-radius: 3px;
    -webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.10);
top:30px; right: 0px; display: none;}
.content-wrapper .dd-item span.action a{display: block;text-align: right;
    padding-right: 25px;
    height: 30px; line-height: 30px;
    font-size: 13px;
    font-weight: 400;}
.content-wrapper .dd-item span.action a:hover {
    background: #EFEFF4;}

.content-wrapper .dd-handle:hover{background: #EFEFF4;cursor: pointer;}
 .content-wrapper .nestable-lists{padding-bottom: 60px;}


.cyrek-digital .icon-list-alt, .cyrek-digital .icon-ok-sign, .cyrek-digital .icon-pause, .cyrek-digital .icon-key, .cyrek-digital .icon-remove{font-family: 'FontAwesome'!important;}

.cyrek-digital .icon-chevron-down:before{content: "\e903"}

.form-control:focus {
    border: 1px solid #eee;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.input-group-addon{border-color: #EFEFF4;}



.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid #3867D6;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: -13px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 4px;
    top: -8px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"]:checked + label::before {background-color: #3867D6}
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
    color: #fff;
}

/*Adding focus styles on the outer-box of the fake checkbox*/



td .checkbox label::before{width: 12px; height: 12px; top: 4px; left: -20px}
td .checkbox label:after{left: -18px;top: 6px;}
td .checkbox {margin: 0px;}
