html,body {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-weight: normal;
	height:100%;
	width: 100%;
	text-align: center;
	color: #000000;
}

body{
	
	 
}

h1, h2, h3, h4, h5 {padding: 0px; margin: 0px}
div{ padding: 0px;margin: 0px;}
a {	padding: 0px; margin: 0px; color: #000000 }
img {border: 0px none;padding: 0px;	margin: 0px;}
b, strong, .bold {font-weight: bold}

textarea, input {resize: none; outline: none; font-family: inherit;}
* {box-sizing: border-box;}

.clear {clear: both; overflow: auto}
.left {float: left}
.right {float: right}

.text-right{text-align: right}
.text-left{text-align: left}
.text-center{text-align: center}

.visible {display: block !important}
.hidden {display: none !important}

div.container-wrapper{width: 100%; min-height:100%; position:relative;}
div.container{width: 100%;text-align:left;position: relative;margin: 0px auto 0px auto;min-width: 990px}
div.header-wrapper{clear: both;width: 100%;overflow: visible;}
div.header{width: 990px;text-align:left;position: relative;margin: 0px auto 0px auto;}
div.content-wrapper{clear: both;width: 100%;overflow: auto; padding-top: 20px; padding-bottom: 45px/* footer height */;}
div.content{width: 990px;text-align:left;position: relative;margin: 0px auto 0px auto; min-height: 500px}
div.footer-wrapper{clear: both;width: 100%;overflow: auto; position:absolute; bottom:0; left:0; height: 45px; background: white;}
div.footer{width: 990px;text-align:left;position: relative;margin: 0px auto 0px auto; height: 100%;}
div.main-wrapper{float: left; width: 80%}
div.main{width: 100%;}
div.main-wrapper.wide{width: 100%}
div.sidebar-wrapper{float: left; width: 20%}
div.localizer{margin: 10px 0px}

.menu-top{}
.menu-top ul{clear: both; overflow: auto; padding:0px; margin: 0px }
.menu-top ul li{list-style-type: none; float: left; margin: 0px 20px 0px 0px; position: relative; padding: 0px; line-height: 20px;}
.menu-top ul li a {}
.menu-top ul li ol{display: none; position: absolute; left: 0px; top: 20px; z-index: 1000; padding:0px; margin: 0px; width: 200px}
.menu-top ul li ol li{float: none; margin: 0px; padding: 0px}

.menu-sidebar ul{clear: both; overflow: auto; padding:0px; margin: 0px }
.menu-sidebar ul li{list-style-type: none; margin: 0px 20px 0px 0px; position: relative; padding: 0px; line-height: 20px;}
.menu-sidebar ul li a {}
.menu-sidebar ul li ol{padding:0px 0px 0px 20px; margin: 0px; }
.menu-sidebar ul li ol li{margin: 0px; padding: 0px}
.menu-sidebar a.menu-sidebar-header {font-weight: bold}

.post{margin-bottom: 10px; clear: both; overflow: auto}
.post-header{color: #033676; font-size: 16px; text-decoration: none; font-weight: bold; font-family:'Slate W02 Medium';}
.post-content{ margin: 0px 0px 10px 0px}
.post-read-more{float: right; display: inline-block; padding: 5px 10px; background-color: #033676; color: white; text-decoration: none}

.thumb-wrapper{float: left; width: 150px; height: 150px; border: 1px solid gray; margin:0px 5px 5px 0px; overflow: hidden}

.language-bar {position: absolute; right:0px; top: 10px}
.language-bar ul {clear: both; overflow: auto}
.language-bar ul li {float: left; list-style-type:none; margin-left: 10px}
.language-bar ul li.active a{font-weight: bold}

.contact-wrapper { display: table; width: 100%: }
.contact-left-wrapper { width: 48%; padding-right: 2%; display: table-cell; vertical-align: top; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.contact-right-wrapper { width: 48%; padding-left: 2%; display: table-cell; vertical-align: top; border-left: 1px solid #000; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
#google-maps-wrapper { width: 100%; margin-top: 20px; }
#google-maps-wrapper iframe { width: 100%; }
