//@for $i from 1 through 12 {
//	.col-#{$i} {
//		width: calc( (100% / 12) * #{$i} );
//	}
//}
.section {border-bottom: 2px solid $color-gray-01; z-index: 2; position: relative}
//@include respond-to('max') {
//	//.container {max-width: $maxWidth; padding-left: 70px !important; padding-right: 70px !important;}
//	.container {max-width: $maxWidth; padding-left: calc((100% - 1400px) / 2) !important; padding-right: calc((100% - 1400px) / 2) !important;}
//	.section {padding-top: 120px !important; padding-bottom: 120px !important;}
//}
@include respond-to('max-wide') {
	.container {max-width: $maxWidth; padding-left: 70px !important; padding-right: 70px !important;}
	.section {padding-top: 120px !important; padding-bottom: 120px !important;}
	#knowledge-base-section .row:not(.list-of-person) {padding-bottom: 120px}
}
@include respond-to('desktop-wide') {
	.container {max-width: $maxWidth; padding-left: 70px !important; padding-right: 70px !important;}
	.section {padding-top: 120px !important; padding-bottom: 120px !important;}
	#knowledge-base-section .row:not(.list-of-person) {padding-bottom: 120px}
}
@include respond-to('desktop') {
	.container {max-width: $maxWidth; padding-left: 70px !important; padding-right: 70px !important;}
	.section {padding-top: 120px !important; padding-bottom: 120px !important}
}
@include respond-to('laptop') {
	.container {padding-left: 50px !important; padding-right: 50px !important; min-width: initial !important;}
	.section {padding-top: 90px !important; padding-bottom: 90px !important}
	#about-section .about-section__nav-content .tab-pane:not(:last-child):not(:first-child) {padding-bottom: 90px !important;}
	#knowledge-base-section .row:not(.list-of-person) {padding-bottom: 90px}
}
@include respond-to('tablet') {
	.container {padding-left: 40px !important; padding-right: 40px !important;}
	.section {padding-top: 70px !important; padding-bottom: 70px !important}
	#about-section .about-section__nav-content .tab-pane:not(:last-child):not(:first-child) {padding-bottom: 70px !important;}
	#knowledge-base-section .row:not(.list-of-person) {padding-bottom: 70px}
}
@include respond-to('navbar') {
	.container {padding-left: 30px !important; padding-right: 30px !important;}
	.section {padding-top: 50px !important; padding-bottom: 50px !important}
	#about-section .about-section__nav-content .tab-pane:not(:last-child):not(:first-child) {padding-bottom: 50px !important;}
	#knowledge-base-section .row:not(.list-of-person) {padding-bottom: 50px}
}
@include respond-to('mobile-wide') {
	.container {padding-left: 20px !important; padding-right: 20px !important;}
	.section {padding-top: 30px !important; padding-bottom: 30px !important}
	#about-section .about-section__nav-content .tab-pane:not(:last-child):not(:first-child) {padding-bottom: 30px !important;}
}
@include respond-to('mobile') {
	.container {max-width: $maxWidth; padding-left: 20px !important; padding-right: 20px !important;}
}

.row-reset {margin-left:0; margin-right: 0;}
