.navbar-custom {
  padding-top: 20px; padding-bottom: 20px; padding-left: 0; padding-right: 0;
  &.navbar-custom.top-nav-collapse {padding-left: 0; padding-right: 0}
  & .navbar-brand.logo-image img {width: initial; height: initial;}
  & .nav-item .nav-link {color: $black !important;}
  & .social-icons {display: none}
  &.top-nav-collapse {background: $color-gray-01}
  @include respond-to('mobile-wide-min') {
    .nav-item {
      .nav-link {padding: 0;}
      &:not(:first-child) {margin-left: 55px;}
    }
  }
  @include respond-to('laptop') {
    .nav-item {
      &:not(:first-child) {margin-left: 30px;}
    }
  }
  @include respond-to('tablet') {
    .nav-item {
      &:not(:first-child) {margin-left: 20px;}
    }
  }
  @include respond-to('navbar') {
    background: $color-gray-01;
    &.navbar-custom.navbar {padding: 0 !important;}
    .collapse:not(.show) {display: none !important;}
    .navbar-brand {display: inline-block;padding-top: 0.3125rem;padding-bottom: 0.3125rem;margin-right: 1rem;font-size: 1.25rem;line-height: 1;white-space: nowrap;}
    .navbar-collapse {-ms-flex-preferred-size: 100%;flex-basis: 100%;-ms-flex-positive: 1;flex-grow: 1;-ms-flex-align: center;align-items: center; display: initial !important;}
    &.navbar-expand-md .navbar-toggler {display: block}
    & {box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);font: 700 0.75rem/2rem "Montserrat", sans-serif;transition: all 0.2s ease;}
    &.navbar {position: relative;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;align-items: center;-ms-flex-pack: justify;justify-content: space-between;padding: 0.5rem 1rem;}
    &.navbar-expand-md .navbar-nav {-ms-flex-direction: column;flex-direction: column; margin-left: 0 !important;}
    &.fixed-top {position: fixed;top: 0;right: 0;left: 0;z-index: 1030;}
    .nav-item {
      &:not(:first-child) {margin-left: 0;}
    }

    &.navbar-expand-md > .container, &.navbar-expand-md > .container-fluid {@include flexWrap(wrap)}
  }
}