* {
  & :not(::before) {font-family: montserrat-regular}
  color: $black
}
#home-section {
  background: white; position: relative; z-index: 3; padding-top: 190px !important;
  .header-content {
    padding: 0 !important;
    .text-container {
      margin-left: 0; margin-top: 0; text-align: left;
      .powered-by {
        @include flex(flex-start,center); color: $black; font-family: montserrat-semibold; font-size: 16px; margin-bottom: 20px;
        img {max-width: 115px; position: relative; top: -3px; margin-left: 2px;}
      }
      h1 {margin-bottom: 30px;}
      .medium-paragraph {max-width: 550px; margin-bottom: 50px;}
    }
  }
  .group-swiper {position: relative; top: -70px;}
  #social-media {
    z-index: 3; position: absolute; bottom: calc(-75px / 2); width: 100%;
     .social-media__internal {
       @include flex(space-between,center); @include boxShadow(-10px,30px,50px,0,$shadow-02); height: 75px; padding: 0; background: $white; width: 100%; max-width: 368px;
       a {
         width: calc(100% / 2); height: 100%;
         &.facebook, &.instagram {
           display: block; position: relative;
           //img {@include transformTranslate(-50%,-50%);top: 50%; left: 50%; position: relative; display: block;}
           &::before {@include transition(); @include transformTranslate(-50%,-50%); top: 50%; left: 50%;font-family: icomoon; display: block; position: absolute; width: 100%; height: auto; text-align: center; color: $color-gray-02}
         }
         &.facebook {
           font-size: 16px;border-right: 1px solid $color-gray-03;
           &::before {content: '\e905';}
           &:hover {
             &::before {color: $color-blue-01}
           }
         }
         &.instagram {
           font-size: 22px;
           &::before {content: '\e906'; top: calc(50% + 4px);}
           &:hover {
             &::before {color: $black}
           }
         }
       }
     }
   }
  @include respond-to('laptop') {
    .group-swiper {top: -50px}
  }
  @include respond-to('tablet') {
    #social-media {bottom: calc(-40px / 2);}
    #social-media .social-media__internal {height: 40px;}
  }
  @include respond-to('mobile-wide') {
    padding-top: 150px !important;
    .group-swiper {top: 0;margin-bottom: 30px;}
  }
}

#about-section {
  padding-bottom: 0 !important;
  .about-section__nav-tabs {
    @include flex(space-between, center); margin-bottom: 60px;
    .nav-tabs {
      border: none;
      .nav-item {
        display: block; height: 60px; position: relative; max-width: calc((100% / 3) - 10px); text-align: center; padding: 0;
        .nav-link {
          position: relative;text-decoration: none; color: $black; font-family: montserrat-semibold; font-size: 16px; background: transparent; display: block; border: none !important; width: 100%; height: 100%; background: $color-gray-01;border-radius: 30px;
          .label {@include transformTranslate(-50%,-50%); top: 50%; left: 50%; display: inline-block; position: absolute; width: 100%}
          &.active, &:hover {border: none;}
          &.active {
            @include boxShadow(-10px,30px,50px,0,$shadow-02); background: $white;
            &::before {@include transformTranslateX(-50%);left: 50%; top: 100%;content: ''; width: 64px; height: 4px; border-radius: 2px; background: $btn-bg-02; display: block; position: absolute;}
          }
        }
        &:not(:last-child) {margin-right: 15px;}
      }
    }
  }
  .about-section__nav-content {
    .tab-pane {
      h3, .medium-paragraph, .regular-paragraph {color: $black}
      h3 {@include convertPStoCSS2(32px,26);margin-bottom: 20px;margin-top: 60px;}
      .medium-paragraph, .regular-paragraph {max-width: 460px; width: 100%}
      .medium-paragraph {margin-bottom: 20px;}
      .regular-paragraph {padding-bottom: 120px;}
      .description {max-width: 360px;}
      .image-container {
        position: relative; text-align: center; overflow: hidden;
        img { max-width: 320px; position: relative; z-index: 2;}
      }
      &:not(:last-child):not(:first-child) {padding-bottom: 120px;}

      &#about-tab-3 {
        position: relative; margin-top: 60px;
        &::before {@include transformTranslateX(-50%);content:url('../../../images/SVG/Path%20114.svg'); background-position: center; background-repeat: no-repeat; position:absolute;z-index: 1; left: 50%;bottom: -3px;}
      }
    }
  }
  @include respond-to('laptop') {
    .about-section__nav-tabs {@include flexWrap(wrap);}
    .about-section__nav-tabs h2 {flex: 100%; max-width: 100%; margin-bottom: 50px;}
    .about-section__nav-tabs .nav-tabs {flex:100%; max-width: 100%; padding-right: 0}
    .about-section__nav-content .tab-pane .image-container {display: none}
  }
  @include respond-to('tablet') {
    .about-section__nav-content .tab-pane h3 {@include convertPStoCSS2(25px,20);margin-bottom: 20px;}
    .about-section__nav-tabs .nav-tabs .nav-item {max-width: calc((100% / 2) - 10px); margin-bottom: 40px;}
    .about-section__nav-tabs .nav-tabs .nav-item:nth-child(even) {margin-right: 0}
    .about-section__nav-content .tab-pane .medium-paragraph, .about-section__nav-content .tab-pane .regular-paragraph {max-width: 100%}
    .about-section__nav-content .tab-pane .regular-paragraph {padding-bottom: 50px;}
    .about-section__nav-tabs {margin-bottom: 20px;}
    .about-section__nav-content .tab-pane h3, .about-section__nav-content .tab-pane#about-tab-3 {margin-top: 20px;}
  }
  @include respond-to('mobile-wide') {
    overflow: hidden;padding-top: 50px !important;
    .about-section__nav-tabs .nav-tabs .nav-item {max-width: 100%; margin-bottom: 40px; margin-right: 0 !important;}
    .about-section__nav-content .tab-pane#about-tab-3::before {@include transformTranslate(0,0); width: 100%;}
  }
}

#transformation-section {
  background: $color-gray-01;
  h2 {margin-bottom: 20px;}
  .medium-paragraph {max-width: 560px; margin-bottom: 40px !important;}
  #transformation-form {max-width: 370px;}
  figure {text-align: right}
  @include respond-to('tablet') {
    figure {display: none}
    .list-of-benefits {max-width: 100%; width: 100%}
    .medium-paragraph {max-wdih: 100%; width: 100%}
  }
}

#story-transformation-section {
  h2 {margin-bottom: 36px;}
  .group-swiper {
    margin-top: 30px;
    .swiper-pagination {
      counter-reset: counter;
      .swiper-pagination-bullet {
        &::before {counter-increment: counter; content: "Historia nr " counter(counter) "";}
      }
    }
  }
  @include respond-to('tablet') {
    figure {margin: 0 auto}
    .swiper-container.swiper-story-transformation .swiper-slide .description-container {max-width: 100%}
    .swiper-container.swiper-story-transformation .swiper-slide .description-container::before, .swiper-container.swiper-story-transformation .swiper-slide .description-container::after {top: auto; bottom: 30px}
    .swiper-container.swiper-story-transformation .swiper-slide .description-container::before {right: 30px}
    .swiper-container.swiper-story-transformation .swiper-slide .description-container::after {right: 0}
    //figure {margin: 0 auto;}
  }
}

#motivation-section, #our-advisers-section {
  background: $white;
  h2 {margin-bottom: 57px;}
}

#online-lessons-section {
  h2 {margin-bottom: 20px;}
  .btn-bg {margin-top: 36px; margin-bottom: 50px;}
}

#knowledge-base-section {
  background-color: $color-gray-01; padding-bottom: 0 !important; margin-bottom: 40px;
  .row {position: relative}
  h2 {text-align: center; margin-bottom: 60px;}
  .person {
    .figcaption {
      position: relative; height: 25px; top: -20%; margin-top: 0;
      .main__label {margin-bottom: 10px;}
      .description {font-family: montserrat-medium; max-width: 100%}
    }
  }
  .show-more {
    .show-more__internal {@include flex(center, center); position: relative; cursor: pointer}
    @include flex(center, center); @include boxShadow(-10px,30px,50px,0,$shadow-02); position: absolute; background: white; height: 88px; border-radius: 44px; width: 100%; text-align: center; bottom: -44px; margin: 0 auto;
    .label {color: $color-gray-05; margin-right: 20px;}
    .icon {
      @include transition();position: relative; width: 20px; height: 20px; display: inline-block;;
      &::before {@include transformTranslate(-50%,-50%); color: $color-gray-05; font-size: 13px; position: absolute; top: 50%; left: 50%}
    }
  }
  @include respond-to('base') {
    .person {margin-bottom: 4%;}
  }
  @include respond-to('bs-990') {
    .person {margin-bottom: 0;}
  }
  @include respond-to('mobile-wide') {
    .person {margin-bottom: 30px;}
  }

  &.is-active {
    .show-more .icon::before {@include translateRotate(-50%,-50%,180deg); color: $btn-bg-02}
    //.list-of-person {max-height: 100%}
  }
  &:not(.is-active) .list-of-person {overflow: hidden}
}

#partners-section {
  h2 {text-align: center; margin-bottom: 20px;}
  .medium-paragraph {max-width: 600px; text-align: center; margin: 0 auto; margin-bottom: 75px;}
  .btn-outline {margin: 0 auto; margin-top: 70px;}
  @include respond-to('laptop') {
    .swiper-container.swiper-partners .swiper-wrapper .swiper-slide img {max-width: 70%}
  }
  @include respond-to('mobile-wide') {
    .medium-paragraph {margin-bottom: 30px;}
    .swiper-container.swiper-partners .swiper-wrapper .swiper-slide img {max-width: 150px}
  }
}

#guide-section {
  h2 {margin-bottom: 60px;}
  .list-of-questions {
    width: 100%; max-width: 1136px;
    .question {
      @include boxShadow(-10px,30px,50px,0,$shadow-02); border-radius: 44px; background: white; padding: 30px 45px; position: relative;
      h4 {position: relative; padding-right: 30px;}
      .icon-toggle {
        @include transformTranslateY(-50%); @include transition();position: absolute; right: 0; top: 50%; cursor: pointer; text-align: center; line-height: 20px;
        &::before {@include transformTranslate(-50%,-50%);  left: 50%; top: 50%; font-size: 13px; color: $color-gray-05; position: absolute}
      }
      .regular-paragraph {padding-bottom: 20px;}
      .row {
        padding-top: 30px;
      }

      &.active {
        .icon-toggle {
          @include rotate(180deg);
          &::before {color: $btn-bg-02;}
        }
      }
      &:not(:last-child) {margin-bottom: 40px;}
    }
  }
  .more-ask {
    position: relative; display: block; width: 100%; margin-top: 72px;
    .more-ask__internal {
      @include flex(flex-start,center); cursor: pointer;
      &::before, &::after {display: block; position: relative; top: 50%; color: $color-blue-01; }
      &::before {content:url('../../../images/SVG/question.svg'); font-size: 30px; margin-right: 22px;}
      &::after {content: '\e901'; font-family: icomoon; font-size: 8px; margin-left: 22px;}
    }
  }
  @include respond-to('tablet') {
    .list-of-questions .question {padding: 30px 30px; border-radius: 30px;}
  }
  @include respond-to('mobile') {
    .list-of-questions .question {
      padding: 15px;
      h4 {padding-right: 15px;}
      .icon-toggle::before {font-size: 9px;}
    }
  }
}

#consultation-section {
  backgroud: white;
  //h2 {margin-bottom: 20px; max-width: 430px;}
  h2 {margin-bottom: 20px; margin-top: 60px; text-align: center}
  //.medium-paragraph {max-width: 470px; margin-bottom: 20px !important;}
  .medium-paragraph {margin-bottom: 20px !important; text-align: center}
  .regular-paragraph {margin-bottom: 45px; text-align: center}
  .btn.btn-bg {margin: 0 auto}
  #consultation-form {
    max-width: 460px;
    .form-group:nth-child(-n+3) {max-width: 380px;}
  }
  figure {text-align: right}
  //@include respond-to('tablet') {
  //  figure {display: none}
  //}
}

#change-yourself-image-section {
  .container, .row {height: 100%}
  background-color: $color-gray-01; padding-top: 0 !important; padding-bottom: 0 !important;height: 320px; z-index: 3;
  .middle-text {
    @include flex-direction-column(); @include flex(center,center); text-align: center;
    h2 {margin-bottom: 20px;}
    .medium-paragraph {@include convertPStoCSS2(20px,30);max-width: 420px;}
    .btn-bg {position: absolute; bottom: -23px;}
  }
  figure {
    position: relative;
    img {max-width: 300px; position: absolute; right: 0; top: -30px;}
    &.left-image {
      img {max-width: 420px;position: absolute;left: -64px;top: -65px;}
    }
  }
  @include respond-to('laptop') {
    .middle-text {height: 100%}
    figure img {max-width: 100%}
    figure.left-image img {max-width: 100%; left: 0; top: -30px;}
  }
  @include respond-to('tablet') {
    figure {display: none}
    figure.left-image {display: block}
  }
  @include respond-to('mobile-wide') {
    figure.left-image {display: none}
  }
  @include respond-to('mobile') {
    height: 200px;
    .middle-text .medium-paragraph {@include convertPStoCSS2(16px,20);}
  }

}

#organizers-section {
  h2 {text-align: center; margin-bottom: 72px; margin-top: 32px !important;}
  .list-of-organizers {
    @include flex(center,flex-start);margin: 0 auto;
    img {
      &:first-child {max-width: 240px; margin-top: 12px; margin-right: 66px;}
      &:last-child {max-width: 105px}
    }
  }
  @include respond-to('laptop') {
    h2 {margin-top: 0 !important; margin-bottom: 20px}
  }
  @include respond-to('mobile-wide') {
    h2 {margin-top: 20px !important;}
  }
  @include respond-to('mobile') {
    .list-of-organizers img:first-child {max-width: 150px; margin-top: 8px; margin-right: 30px;}
    .list-of-organizers img:last-child {max-width: 68px}
  }
}

#footer-section {
  .container, .row {height: 100%}
  background: $color-gray-01; padding-top: 40px !important; padding-bottom: 28px !important;
  .medium-paragraph, .bold-paragraph, .regular-paragraph {color: $color-gray-05; display: block; width: 100%; text-align: center}
  .medium-paragraph {font-size: 20px;}
  .bold-paragraph {padding: 6px 0;}
  .regular-paragraph {font-size: 12px; margin-top: 40px;}
  @include respond-to('mobile-wide') {
    .medium-paragraph {font-size: 16px;}
  }
}



