/*
 Selector generator
 @access public
 @param {String} property - Css Property
 @param {String} min - Minimum value in px
 @param {String} max - Maximum value in px
 @requires $property, $min, $max
*/
/*
 Decor generator
 @access public
 @param {String} orientation - Orientation
 @param {String} color - Color in hex
 @param {String} min - Minimum font size value in px
 @param {String} max - Maximum font size value in px
 @requires $orientation, $color, $min, $max
*/
/*
 Responsive breakpoint manager
 @access public
 @param {String} $breakpoint - Breakpoint
 @requires $breakpoints
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../../../icomoon/fonts/icomoon.eot");
  src: url("../../../icomoon/fonts/icomoon.eot") format("embedded-opentype"), url("../../../icomoon/fonts/icomoon.ttf") format("truetype"), url("../../../icomoon/fonts/icomoon.woff") format("woff"), url("../../../icomoon/fonts/icomoon.svg?cqrvcm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-check:before {
  content: "\e900"; }

.icon-down:before {
  content: "\e901"; }

.icon-ebook-ban:before {
  content: "\e902"; }

.icon-expand-down:before {
  content: "\e903"; }

.icon-expand-up:before {
  content: "\e904"; }

.icon-Facebook_Logo_2019:before {
  content: "\e905";
  color: #aaa; }

.icon-Instagram_logo:before {
  content: "\e906";
  color: #aaa; }

.icon-left:before {
  content: "\e907"; }

.icon-left-slide .path1:before {
  content: "\e908";
  color: white; }

.icon-left-slide .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: black; }

.icon-left-slide .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: black; }

.icon-left-slide-2:before {
  content: "\e90b"; }

.icon-left-slide-2::before, .icon-right-slide-2::before {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }

.icon-left-slide-2:hover::before, .icon-right-slide-2:hover::before {
  color: #808080; }

.icon-play:before {
  content: "\e90c"; }

.icon-play-ban:before {
  content: "\e90d"; }

.icon-podcast-ban:before {
  content: "\e90e"; }

.icon-right:before {
  content: "\e90f"; }

.icon-right-slide .path1:before {
  content: "\e910";
  color: white; }

.icon-right-slide .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: black; }

.icon-right-slide .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: black; }

.icon-right-slide-2:before {
  content: "\e913"; }

.icon-send:before {
  content: "\e914"; }

.icon-up:before {
  content: "\e915"; }

@font-face {
  font-family: 'montserrat-bold';
  src: url("../../../fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'montserrat-semibold';
  src: url("../../../fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'montserrat-medium';
  src: url("../../../fonts/montserrat/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'montserrat-regular';
  src: url("../../../fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'montserrat-light';
  src: url("../../../fonts/montserrat/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

a, input, a:after, label, .button, a span, .btn {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

.slogan-wrapper, .slogan-wrapper p {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.btn-drive {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

.header-wrapper {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.btn-play b {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.video-wrapper, .video-wrapper:after {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.logo a img {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.socials i:before {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.blocker {
  z-index: 10000; }

.modal {
  border-radius: 30px;
  border: 5px solid #E5E5E5;
  overflow: initial;
  position: relative;
  padding: 0;
  width: 100%; }
  .modal a.close-modal {
    background: #808080;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
    top: -20px;
    color: transparent;
    text-indent: inherit; }
    .modal a.close-modal::before {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
      content: '\e925';
      font-family: icomoon;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 20px;
      color: #FFFFFF; }
  .modal#modal-update-your-career {
    max-width: 944px;
    width: 100%; }
    .modal#modal-update-your-career b {
      display: inline; }
    .modal#modal-update-your-career .modal__internal {
      padding: 10px 0;
      height: 100%; }
      .modal#modal-update-your-career .modal__internal .modal__internal-scroll {
        padding: 65px 84px;
        overflow-y: auto;
        color: #000000;
        height: 100%; }
      .modal#modal-update-your-career .modal__internal h3 {
        font-size: 30px;
        margin-bottom: 15px; }
      .modal#modal-update-your-career .modal__internal h4 {
        font-size: 26px;
        margin-bottom: 40px; }
      .modal#modal-update-your-career .modal__internal .regular-paragraph {
        margin-bottom: 40px; }
        .modal#modal-update-your-career .modal__internal .regular-paragraph[class*="regular-paragraph--with-image-"] {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          -ms-justify-content: space-between;
          -o-justify-content: space-between;
          -khtml-justify-content: space-between;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-align-items: flex-start;
          -moz-align-items: flex-start;
          -ms-align-items: flex-start;
          -o-align-items: flex-start;
          -khtml-align-items: flex-start;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
          .modal#modal-update-your-career .modal__internal .regular-paragraph[class*="regular-paragraph--with-image-"]::before {
            display: block;
            position: relative;
            left: 0;
            top: 0;
            margin-right: 20px;
            width: 80px;
            width: 80px;
            text-align: center; }
        .modal#modal-update-your-career .modal__internal .regular-paragraph.regular-paragraph--with-image-1::before {
          content: url("../../../images/SVG/Warstwa_x0020_1.svg"); }
        .modal#modal-update-your-career .modal__internal .regular-paragraph.regular-paragraph--with-image-2::before {
          content: url("../../../images/SVG/Group%20599.svg"); }
        .modal#modal-update-your-career .modal__internal .regular-paragraph span {
          width: calc(100% - 80px); }
      .modal#modal-update-your-career .modal__internal .list-of-tips {
        max-width: 100%;
        margin-top: 5px;
        margin-bottom: 15px; }
        .modal#modal-update-your-career .modal__internal .list-of-tips .regular-paragraph {
          margin-bottom: 20px !important;
          width: 100%; }
          .modal#modal-update-your-career .modal__internal .list-of-tips .regular-paragraph:nth-child(even) {
            padding-left: 0; }
            .modal#modal-update-your-career .modal__internal .list-of-tips .regular-paragraph:nth-child(even)::before {
              display: none; }
      .modal#modal-update-your-career .modal__internal .link {
        color: #0061FF;
        text-decoration: underline;
        display: block;
        margin-bottom: 50px; }
  @media (max-width: 860px) {
    .modal#modal-update-your-career .modal__internal h3 {
      font-size: 25px; }
    .modal#modal-update-your-career .modal__internal h4 {
      font-size: 20px; }
    .modal#modal-update-your-career .modal__internal .modal__internal-scroll {
      padding: 25px; } }
  @media (max-width: 576px) {
    .modal#modal-update-your-career .modal__internal h3 {
      font-size: 20px; }
    .modal#modal-update-your-career .modal__internal h4 {
      font-size: 18px; }
    .modal#modal-update-your-career .modal__internal .modal__internal-scroll {
      padding: 15px; }
    .modal#modal-update-your-career .modal__internal .regular-paragraph[class*="regular-paragraph--with-image-"] {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      -khtml-flex-wrap: wrap;
      flex-wrap: wrap; }
      .modal#modal-update-your-career .modal__internal .regular-paragraph[class*="regular-paragraph--with-image-"] span {
        width: 100%; }
      .modal#modal-update-your-career .modal__internal .regular-paragraph[class*="regular-paragraph--with-image-"]::before {
        margin: 0 auto;
        margin-bottom: 15px; } }

.video-container {
  position: relative; }
  .video-container .video-play-button {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%; }
    .video-container .video-play-button::before {
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      font-size: 65px;
      color: #FFFFFF; }
  .video-container:hover .video-play-button::before {
    color: #48E500; }

.tooltip-wrapper {
  background: #132B57;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 0;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
  color: #fff;
  font-size: 10px;
  line-height: 17px;
  max-width: 600px; }
  .tooltip-wrapper.active {
    opacity: 1;
    visibility: visible; }
    .tooltip-wrapper.active .tooltip {
      position: relative;
      color: white;
      opacity: 1;
      visibility: visible;
      font-family: montserrat-regular;
      font-size: 12px;
      color: #FFFFFF; }
  .tooltip-wrapper::before {
    width: 0;
    height: 0;
    border-left: 9.5px solid transparent;
    border-right: 8.5px solid transparent;
    border-top: 8.5px solid #132B57;
    content: '';
    bottom: -8px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }

.form {
  background: transparent;
  padding: 0; }
  .form .form-group {
    position: relative;
    margin-bottom: 35px; }
    .form .form-group .form-control-input__parent {
      position: relative; }
    .form .form-group .form-control-input:focus + .label-control, .form .form-group .form-control-input.notEmpty + .label-control, .form .form-group .form-control-textarea:focus + .label-control, .form .form-group .form-control-textarea.notEmpty + .label-control {
      top: 0;
      background: #FFFFFF;
      font-family: montserrat-regular;
      color: #808080;
      padding: 0 5px; }
    .form .form-group .form-control-input:focus {
      border-color: #808080; }
    .form .form-group .form-control-input, .form .form-group .selectric-wrapper {
      background: #FFFFFF;
      font-family: montserrat-regular;
      color: #000000;
      height: 44px;
      border-radius: 22px;
      border: 1px solid #C9C9C9;
      padding: 0 20px; }
    .form .form-group .selectric-wrapper .selectric {
      border: none;
      background: transparent;
      height: 100%; }
      .form .form-group .selectric-wrapper .selectric .label {
        margin: 0;
        padding: 0;
        height: 100%;
        line-height: 42px;
        padding-right: 25px; }
      .form .form-group .selectric-wrapper .selectric .icon {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        right: 0;
        width: 16px;
        height: 16px;
        color: transparent;
        position: absolute; }
        .form .form-group .selectric-wrapper .selectric .icon::before {
          -webkit-transition: 0.3s ease;
          -moz-transition: 0.3s ease;
          -ms-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          transition: 0.3s ease;
          content: '\e901';
          display: block;
          position: absolute;
          color: #000000;
          font-family: icomoon;
          font-size: 8px;
          text-align: center;
          width: 16px;
          line-height: 16px; }
    .form .form-group .selectric-wrapper .selectric-items {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: calc(100% + 2px) !important;
      left: -1px;
      border-bottom-left-radius: 22px;
      border-bottom-right-radius: 22px;
      overflow: hidden; }
    .form .form-group .selectric-wrapper.selectric-open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
      .form .form-group .selectric-wrapper.selectric-open .selectric .icon::before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
    .form .form-group.custom-checkbox label {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .form .form-group.custom-checkbox label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0; }
      .form .form-group.custom-checkbox label .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
        border: 1px solid #000000;
        z-index: 1; }
        .form .form-group.custom-checkbox label .checkmark::after {
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          content: '\e900';
          font-family: icomoon;
          position: absolute;
          display: none;
          font-size: 8px;
          color: #48E500; }
      .form .form-group.custom-checkbox label .regular-paragraph {
        font-size: 12px;
        line-height: 22.925px;
        color: #808080;
        display: block;
        margin-bottom: 0 !important; }
      .form .form-group.custom-checkbox label input:checked ~ .checkmark::after {
        display: block; }
    .form .form-group .label-control {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #C9C9C9;
      top: 50%;
      left: 20px; }
    .form .form-group .help-block {
      font-family: montserrat-regular; }
      .form .form-group .help-block.with-errors li {
        color: #FF3636;
        font-size: 12px;
        padding: 0 20px; }
      .form .form-group .help-block.help-block__custom {
        font-size: 12px;
        line-height: 22.45px;
        color: #808080;
        display: block;
        margin-top: 20px; }
    .form .form-group .list-unstyled li {
      margin: 0; }
    .form .form-group .btn {
      margin-top: 50px; }
      .form .form-group .btn.disabled {
        opacity: 1; }
    .form .form-group.with-star::before {
      content: "*";
      display: block;
      position: absolute;
      left: -2px;
      top: -2px;
      width: 0;
      height: 0;
      font-size: 12px;
      color: #0061FF; }
    .form .form-group:last-child {
      margin-bottom: 0; }
  .form .form-message .h3 {
    text-align: left !important;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FF3636; }
  .form ::-webkit-input-placeholder {
    color: #808080;
    font-family: montserrat-regular;
    font-size: 14px; }
  .form :-ms-input-placeholder {
    color: #808080;
    font-family: montserrat-regular;
    font-size: 14px; }
  .form ::-ms-input-placeholder {
    color: #808080;
    font-family: montserrat-regular;
    font-size: 14px; }
  .form ::placeholder {
    color: #808080;
    font-family: montserrat-regular;
    font-size: 14px; }

.list-of-benefits {
  max-width: 420px; }
  .list-of-benefits .medium-paragraph, .list-of-benefits .regular-paragraph {
    position: relative;
    margin-bottom: 60px !important;
    display: inline-block; }
    .list-of-benefits .medium-paragraph::before, .list-of-benefits .regular-paragraph::before {
      font-family: icomoon;
      position: relative;
      display: block;
      font-family: montserrat-bold;
      color: #0061FF;
      font-size: 20px;
      position: absolute;
      left: 0; }
  .list-of-benefits.to--left .medium-paragraph, .list-of-benefits.to--left .regular-paragraph {
    padding-left: 25px; }
    .list-of-benefits.to--left .medium-paragraph::before, .list-of-benefits.to--left .regular-paragraph::before {
      content: '>'; }
  .list-of-benefits.to--right {
    margin-left: auto; }
    .list-of-benefits.to--right .medium-paragraph, .list-of-benefits.to--right .regular-paragraph {
      text-align: right;
      padding-right: 25px; }
      .list-of-benefits.to--right .medium-paragraph::before, .list-of-benefits.to--right .regular-paragraph::before {
        content: '<';
        right: 0;
        left: auto; }

.semibold-paragraph {
  font-size: 18px;
  line-height: 39.85px;
  color: #000000;
  font-family: montserrat-semibold; }
  @media (max-width: 1024px) {
    .semibold-paragraph {
      font-size: 16px;
      line-height: 28.35px; } }
  @media (max-width: 576px) {
    .semibold-paragraph {
      font-size: 15px;
      line-height: 25.45px; } }

.medium-paragraph {
  font-size: 18px;
  line-height: 30.35px;
  color: #000000;
  font-family: montserrat-medium; }
  @media (max-width: 1024px) {
    .medium-paragraph {
      font-size: 16px;
      line-height: 28.35px; } }
  @media (max-width: 576px) {
    .medium-paragraph {
      font-size: 15px;
      line-height: 25.45px; } }

.regular-paragraph {
  font-size: 14px;
  line-height: 24.45px;
  color: #000000;
  font-family: montserrat-regular; }
  @media (max-width: 1024px) {
    .regular-paragraph {
      font-size: 13px;
      line-height: 22.5px; } }
  @media (max-width: 576px) {
    .regular-paragraph {
      font-size: 12px;
      line-height: 20.55px; } }

.bold-paragraph {
  font-size: 20px;
  line-height: 37.1px;
  color: #000000;
  font-family: montserrat-bold; }
  @media (max-width: 1024px) {
    .bold-paragraph {
      font-size: 18px;
      line-height: 32.25px; } }
  @media (max-width: 576px) {
    .bold-paragraph {
      font-size: 16px;
      line-height: 28.35px; } }

.person {
  text-align: center; }
  .person .figcaption {
    margin-top: 37px; }
    .person .figcaption .main__label {
      font-size: 17px;
      line-height: 26.5px;
      font-family: montserrat-semibold;
      color: #000000; }
    .person .figcaption .icon {
      width: 16px;
      margin: 0 auto;
      display: block;
      margin-top: 10px;
      margin-bottom: 15px; }
    .person .figcaption .description {
      font-size: 14px;
      line-height: 21.6px;
      font-family: montserrat-regular;
      color: #000000;
      max-width: 350px;
      margin: 0 auto; }

.btn {
  width: auto;
  height: 44px;
  border: 2px solid #48E500;
  border-radius: 22px;
  background: #48E500;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  -khtml-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 14px;
  width: 190px; }
  .btn .btn__internal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .btn .btn__internal .btn__label {
      position: relative;
      font-family: montserrat-bold;
      font-size: 13px;
      color: #FFFFFF; }
    .btn .btn__internal .btn__icon {
      position: relative;
      width: 20px;
      height: 20px;
      display: block; }
      .btn .btn__internal .btn__icon::before {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        color: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%; }
  .btn.btn-bg {
    -webkit-box-shadow: 0px 9px 18px 0px rgba(72, 229, 0, 0.3);
    -moz-box-shadow: 0px 9px 18px 0px rgba(72, 229, 0, 0.3);
    box-shadow: 0px 9px 18px 0px rgba(72, 229, 0, 0.3); }
  .btn.btn-outline {
    color: #50FF02;
    background: transparent; }
    .btn.btn-outline .btn__label {
      color: #48E500; }
    .btn.btn-outline .btn__icon::before {
      color: #48E500; }
  .btn:hover .btn__icon::before {
    left: calc(50% + 2px); }
  .btn.btn-bg:hover {
    color: initial;
    background: #50FF00;
    border-color: #50FF00; }
  .btn.btn-outline:hover {
    color: #50FF00;
    background: initial;
    border-color: #50FF00; }

a.back-to-top {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #48E500; }
  a.back-to-top:hover {
    background-color: #50FF00; }

h1, h2, h3, h4 {
  color: #000000;
  font-family: montserrat-bold;
  width: 100%;
  display: block; }

h1 {
  font-size: 59px;
  line-height: 66.125px;
  letter-spacing: -.01em; }
  @media (max-width: 1024px) {
    h1 {
      font-size: 45px;
      line-height: 50.7px; } }
  @media (max-width: 576px) {
    h1 {
      font-size: 25px;
      line-height: 30.225px; } }

h2 {
  font-size: 37px;
  line-height: 44.6px;
  letter-spacing: -.01em; }
  @media (max-width: 1024px) {
    h2 {
      font-size: 30px;
      line-height: 37.125px; } }
  @media (max-width: 576px) {
    h2 {
      font-size: 20px;
      line-height: 26.65px; } }

h3 {
  font-size: 32px;
  line-height: 39.6px;
  letter-spacing: -.01em;
  font-family: montserrat-semibold; }
  @media (max-width: 1024px) {
    h3 {
      font-size: 28px;
      line-height: 35.125px; } }
  @media (max-width: 576px) {
    h3 {
      font-size: 18px;
      line-height: 24.65px; } }

h4 {
  font-size: 20px;
  line-height: 27.6px;
  letter-spacing: -.01em;
  font-family: montserrat-semibold; }
  @media (max-width: 1024px) {
    h4 {
      font-size: 18px;
      line-height: 25.125px; } }
  @media (max-width: 576px) {
    h4 {
      font-size: 14px;
      line-height: 20.175px; } }

.group-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -khtml-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-width: 400px; }
  .group-swiper .icon-left-slide, .group-swiper .icon-right-slide {
    position: relative;
    display: block;
    width: 30px;
    height: 30px; }
    .group-swiper .icon-left-slide .path2, .group-swiper .icon-left-slide .path3, .group-swiper .icon-right-slide .path2, .group-swiper .icon-right-slide .path3 {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: block;
      position: absolute; }
      .group-swiper .icon-left-slide .path2::before, .group-swiper .icon-left-slide .path3::before, .group-swiper .icon-right-slide .path2::before, .group-swiper .icon-right-slide .path3::before {
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        top: 50%;
        left: 50%;
        display: block;
        position: absolute;
        font-size: 30px;
        color: #E5E5E5; }
    .group-swiper .icon-left-slide:hover .path2::before, .group-swiper .icon-left-slide:hover .path3::before, .group-swiper .icon-right-slide:hover .path2::before, .group-swiper .icon-right-slide:hover .path3::before {
      color: #AAAAAA; }
  .group-swiper .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: calc(100% - 100px);
    counter-reset: counter; }
    .group-swiper .swiper-pagination .swiper-pagination-bullet {
      width: 100%;
      height: 4px;
      border-radius: 0;
      background: #E5E5E5;
      position: relative; }
      .group-swiper .swiper-pagination .swiper-pagination-bullet:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px; }
      .group-swiper .swiper-pagination .swiper-pagination-bullet:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px; }
      .group-swiper .swiper-pagination .swiper-pagination-bullet::before {
        counter-increment: counter;
        content: counter(counter);
        visibility: hidden; }
      .group-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #AAAAAA;
        border-radius: 2px; }
        .group-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
          -webkit-transform: translate(-50%, -12px);
          -moz-transform: translate(-50%, -12px);
          -ms-transform: translate(-50%, -12px);
          -o-transform: translate(-50%, -12px);
          transform: translate(-50%, -12px);
          position: absolute;
          left: 50%;
          display: block;
          font-family: montserrat-light;
          font-size: 10px;
          color: #000000;
          visibility: visible;
          width: 100%; }
  .group-swiper .swiper-button-prev, .group-swiper .swiper-button-next {
    width: initial;
    height: initial;
    margin-top: 0;
    position: relative; }
  .group-swiper .swiper-button-prev, .group-swiper .swiper-container-rtl .swiper-button-next,
  .group-swiper .swiper-button-next, .group-swiper .swiper-container-rtl .swiper-button-prev {
    background: transparent; }
  @media (max-width: 1024px) {
    .group-swiper {
      margin: 0 auto;
      top: 0; }
      .group-swiper .swiper-button-prev {
        left: 0; }
      .group-swiper .swiper-button-next {
        right: 0; } }

.swiper-container .swiper-slide figure img {
  width: 100%; }

.swiper-container.swiper-home .swiper-slide [class*="col-"] {
  padding-left: 0;
  padding-right: 0; }

.swiper-container.swiper-home .swiper-slide:last-child figure img {
  width: 80%; }

.swiper-container.swiper-story-transformation .swiper-slide .description-container {
  max-width: 600px;
  position: relative;
  padding-top: 30px; }
  .swiper-container.swiper-story-transformation .swiper-slide .description-container .semibold-paragraph {
    margin-bottom: 20px; }
  .swiper-container.swiper-story-transformation .swiper-slide .description-container .btn-outline {
    margin-top: 50px; }
  .swiper-container.swiper-story-transformation .swiper-slide .description-container::before, .swiper-container.swiper-story-transformation .swiper-slide .description-container::after {
    width: 50px;
    height: 40px;
    color: #0061FF;
    display: block;
    position: absolute;
    top: calc(50% + 30px);
    right: -80px;
    font-size: 60px;
    line-height: 40px; }
  .swiper-container.swiper-story-transformation .swiper-slide .description-container::before {
    content: '<';
    right: -40px;
    text-align: left; }
  .swiper-container.swiper-story-transformation .swiper-slide .description-container::after {
    content: '>';
    text-align: right; }

.swiper-container.swiper-motivation .swiper-slide figure > img {
  max-width: 226px;
  border: 8px solid #D6D6D6;
  border-radius: 50%; }

.swiper-container.swiper-motivation [class*="swiper-button-"] {
  background: none;
  color: #AAAAAA;
  font-size: 40px; }

.swiper-container.swiper-partners .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -khtml-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% / 5);
  text-align: center; }
  .swiper-container.swiper-partners .swiper-wrapper .swiper-slide img {
    max-width: 50%; }

.section {
  border-bottom: 2px solid #F2F2F2;
  z-index: 2;
  position: relative; }

@media (min-width: 2561px) {
  .container {
    max-width: 1400px;
    padding-left: 70px !important;
    padding-right: 70px !important; }
  .section {
    padding-top: 120px !important;
    padding-bottom: 120px !important; }
  #knowledge-base-section .row:not(.list-of-person) {
    padding-bottom: 120px; } }

@media (max-width: 2560px) {
  .container {
    max-width: 1400px;
    padding-left: 70px !important;
    padding-right: 70px !important; }
  .section {
    padding-top: 120px !important;
    padding-bottom: 120px !important; }
  #knowledge-base-section .row:not(.list-of-person) {
    padding-bottom: 120px; } }

@media (max-width: 1920px) {
  .container {
    max-width: 1400px;
    padding-left: 70px !important;
    padding-right: 70px !important; }
  .section {
    padding-top: 120px !important;
    padding-bottom: 120px !important; } }

@media (max-width: 1200px) {
  .container {
    padding-left: 50px !important;
    padding-right: 50px !important;
    min-width: initial !important; }
  .section {
    padding-top: 90px !important;
    padding-bottom: 90px !important; }
  #about-section .about-section__nav-content .tab-pane:not(:last-child):not(:first-child) {
    padding-bottom: 90px !important; }
  #knowledge-base-section .row:not(.list-of-person) {
    padding-bottom: 90px; } }

@media (max-width: 1024px) {
  .container {
    padding-left: 40px !important;
    padding-right: 40px !important; }
  .section {
    padding-top: 70px !important;
    padding-bottom: 70px !important; }
  #about-section .about-section__nav-content .tab-pane:not(:last-child):not(:first-child) {
    padding-bottom: 70px !important; }
  #knowledge-base-section .row:not(.list-of-person) {
    padding-bottom: 70px; } }

@media (max-width: 860px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important; }
  .section {
    padding-top: 50px !important;
    padding-bottom: 50px !important; }
  #about-section .about-section__nav-content .tab-pane:not(:last-child):not(:first-child) {
    padding-bottom: 50px !important; }
  #knowledge-base-section .row:not(.list-of-person) {
    padding-bottom: 50px; } }

@media (max-width: 768px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .section {
    padding-top: 30px !important;
    padding-bottom: 30px !important; }
  #about-section .about-section__nav-content .tab-pane:not(:last-child):not(:first-child) {
    padding-bottom: 30px !important; } }

@media (max-width: 576px) {
  .container {
    max-width: 1400px;
    padding-left: 20px !important;
    padding-right: 20px !important; } }

.row-reset {
  margin-left: 0;
  margin-right: 0; }

* {
  color: #000000; }
  * :not(::before) {
    font-family: montserrat-regular; }

#home-section {
  background: white;
  position: relative;
  z-index: 3;
  padding-top: 190px !important; }
  #home-section .header-content {
    padding: 0 !important; }
    #home-section .header-content .text-container {
      margin-left: 0;
      margin-top: 0;
      text-align: left; }
      #home-section .header-content .text-container .powered-by {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        -khtml-justify-content: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #000000;
        font-family: montserrat-semibold;
        font-size: 16px;
        margin-bottom: 20px; }
        #home-section .header-content .text-container .powered-by img {
          max-width: 115px;
          position: relative;
          top: -3px;
          margin-left: 2px; }
      #home-section .header-content .text-container h1 {
        margin-bottom: 30px; }
      #home-section .header-content .text-container .medium-paragraph {
        max-width: 550px;
        margin-bottom: 50px; }
  #home-section .group-swiper {
    position: relative;
    top: -70px; }
  #home-section #social-media {
    z-index: 3;
    position: absolute;
    bottom: calc(-75px / 2);
    width: 100%; }
    #home-section #social-media .social-media__internal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      -khtml-justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -khtml-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
      box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
      height: 75px;
      padding: 0;
      background: #FFFFFF;
      width: 100%;
      max-width: 368px; }
      #home-section #social-media .social-media__internal a {
        width: calc(100% / 2);
        height: 100%; }
        #home-section #social-media .social-media__internal a.facebook, #home-section #social-media .social-media__internal a.instagram {
          display: block;
          position: relative; }
          #home-section #social-media .social-media__internal a.facebook::before, #home-section #social-media .social-media__internal a.instagram::before {
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -ms-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            transition: 0.3s ease;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            font-family: icomoon;
            display: block;
            position: absolute;
            width: 100%;
            height: auto;
            text-align: center;
            color: #AAAAAA; }
        #home-section #social-media .social-media__internal a.facebook {
          font-size: 16px;
          border-right: 1px solid #E5E5E5; }
          #home-section #social-media .social-media__internal a.facebook::before {
            content: '\e905'; }
          #home-section #social-media .social-media__internal a.facebook:hover::before {
            color: #0061FF; }
        #home-section #social-media .social-media__internal a.instagram {
          font-size: 22px; }
          #home-section #social-media .social-media__internal a.instagram::before {
            content: '\e906';
            top: calc(50% + 4px); }
          #home-section #social-media .social-media__internal a.instagram:hover::before {
            color: #000000; }
  @media (max-width: 1200px) {
    #home-section .group-swiper {
      top: -50px; } }
  @media (max-width: 1024px) {
    #home-section #social-media {
      bottom: calc(-40px / 2); }
    #home-section #social-media .social-media__internal {
      height: 40px; } }
  @media (max-width: 768px) {
    #home-section {
      padding-top: 150px !important; }
      #home-section .group-swiper {
        top: 0;
        margin-bottom: 30px; } }

#about-section {
  padding-bottom: 0 !important; }
  #about-section .about-section__nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px; }
    #about-section .about-section__nav-tabs .nav-tabs {
      border: none; }
      #about-section .about-section__nav-tabs .nav-tabs .nav-item {
        display: block;
        height: 60px;
        position: relative;
        max-width: calc((100% / 3) - 10px);
        text-align: center;
        padding: 0; }
        #about-section .about-section__nav-tabs .nav-tabs .nav-item .nav-link {
          position: relative;
          text-decoration: none;
          color: #000000;
          font-family: montserrat-semibold;
          font-size: 16px;
          background: transparent;
          display: block;
          border: none !important;
          width: 100%;
          height: 100%;
          background: #F2F2F2;
          border-radius: 30px; }
          #about-section .about-section__nav-tabs .nav-tabs .nav-item .nav-link .label {
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            display: inline-block;
            position: absolute;
            width: 100%; }
          #about-section .about-section__nav-tabs .nav-tabs .nav-item .nav-link.active, #about-section .about-section__nav-tabs .nav-tabs .nav-item .nav-link:hover {
            border: none; }
          #about-section .about-section__nav-tabs .nav-tabs .nav-item .nav-link.active {
            -webkit-box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
            -moz-box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
            box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
            background: #FFFFFF; }
            #about-section .about-section__nav-tabs .nav-tabs .nav-item .nav-link.active::before {
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              left: 50%;
              top: 100%;
              content: '';
              width: 64px;
              height: 4px;
              border-radius: 2px;
              background: #48E500;
              display: block;
              position: absolute; }
        #about-section .about-section__nav-tabs .nav-tabs .nav-item:not(:last-child) {
          margin-right: 15px; }
  #about-section .about-section__nav-content .tab-pane h3, #about-section .about-section__nav-content .tab-pane .medium-paragraph, #about-section .about-section__nav-content .tab-pane .regular-paragraph {
    color: #000000; }
  #about-section .about-section__nav-content .tab-pane h3 {
    font-size: 32px;
    line-height: 44.35px;
    margin-bottom: 20px;
    margin-top: 60px; }
  #about-section .about-section__nav-content .tab-pane .medium-paragraph, #about-section .about-section__nav-content .tab-pane .regular-paragraph {
    max-width: 460px;
    width: 100%; }
  #about-section .about-section__nav-content .tab-pane .medium-paragraph {
    margin-bottom: 20px; }
  #about-section .about-section__nav-content .tab-pane .regular-paragraph {
    padding-bottom: 120px; }
  #about-section .about-section__nav-content .tab-pane .description {
    max-width: 360px; }
  #about-section .about-section__nav-content .tab-pane .image-container {
    position: relative;
    text-align: center;
    overflow: hidden; }
    #about-section .about-section__nav-content .tab-pane .image-container img {
      max-width: 320px;
      position: relative;
      z-index: 2; }
  #about-section .about-section__nav-content .tab-pane:not(:last-child):not(:first-child) {
    padding-bottom: 120px; }
  #about-section .about-section__nav-content .tab-pane#about-tab-3 {
    position: relative;
    margin-top: 60px; }
    #about-section .about-section__nav-content .tab-pane#about-tab-3::before {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      content: url("../../../images/SVG/Path%20114.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: -3px; }
  @media (max-width: 1200px) {
    #about-section .about-section__nav-tabs {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      -khtml-flex-wrap: wrap;
      flex-wrap: wrap; }
    #about-section .about-section__nav-tabs h2 {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      margin-bottom: 50px; }
    #about-section .about-section__nav-tabs .nav-tabs {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      padding-right: 0; }
    #about-section .about-section__nav-content .tab-pane .image-container {
      display: none; } }
  @media (max-width: 1024px) {
    #about-section .about-section__nav-content .tab-pane h3 {
      font-size: 25px;
      line-height: 34.5px;
      margin-bottom: 20px; }
    #about-section .about-section__nav-tabs .nav-tabs .nav-item {
      max-width: calc((100% / 2) - 10px);
      margin-bottom: 40px; }
    #about-section .about-section__nav-tabs .nav-tabs .nav-item:nth-child(even) {
      margin-right: 0; }
    #about-section .about-section__nav-content .tab-pane .medium-paragraph, #about-section .about-section__nav-content .tab-pane .regular-paragraph {
      max-width: 100%; }
    #about-section .about-section__nav-content .tab-pane .regular-paragraph {
      padding-bottom: 50px; }
    #about-section .about-section__nav-tabs {
      margin-bottom: 20px; }
    #about-section .about-section__nav-content .tab-pane h3, #about-section .about-section__nav-content .tab-pane#about-tab-3 {
      margin-top: 20px; } }
  @media (max-width: 768px) {
    #about-section {
      overflow: hidden;
      padding-top: 50px !important; }
      #about-section .about-section__nav-tabs .nav-tabs .nav-item {
        max-width: 100%;
        margin-bottom: 40px;
        margin-right: 0 !important; }
      #about-section .about-section__nav-content .tab-pane#about-tab-3::before {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 100%; } }

#transformation-section {
  background: #F2F2F2; }
  #transformation-section h2 {
    margin-bottom: 20px; }
  #transformation-section .medium-paragraph {
    max-width: 560px;
    margin-bottom: 40px !important; }
  #transformation-section #transformation-form {
    max-width: 370px; }
  #transformation-section figure {
    text-align: right; }
  @media (max-width: 1024px) {
    #transformation-section figure {
      display: none; }
    #transformation-section .list-of-benefits {
      max-width: 100%;
      width: 100%; }
    #transformation-section .medium-paragraph {
      max-wdih: 100%;
      width: 100%; } }

#story-transformation-section h2 {
  margin-bottom: 36px; }

#story-transformation-section .group-swiper {
  margin-top: 30px; }
  #story-transformation-section .group-swiper .swiper-pagination {
    counter-reset: counter; }
    #story-transformation-section .group-swiper .swiper-pagination .swiper-pagination-bullet::before {
      counter-increment: counter;
      content: "Historia nr " counter(counter) ""; }

@media (max-width: 1024px) {
  #story-transformation-section figure {
    margin: 0 auto; }
  #story-transformation-section .swiper-container.swiper-story-transformation .swiper-slide .description-container {
    max-width: 100%; }
  #story-transformation-section .swiper-container.swiper-story-transformation .swiper-slide .description-container::before, #story-transformation-section .swiper-container.swiper-story-transformation .swiper-slide .description-container::after {
    top: auto;
    bottom: 30px; }
  #story-transformation-section .swiper-container.swiper-story-transformation .swiper-slide .description-container::before {
    right: 30px; }
  #story-transformation-section .swiper-container.swiper-story-transformation .swiper-slide .description-container::after {
    right: 0; } }

#motivation-section, #our-advisers-section {
  background: #FFFFFF; }
  #motivation-section h2, #our-advisers-section h2 {
    margin-bottom: 57px; }

#online-lessons-section h2 {
  margin-bottom: 20px; }

#online-lessons-section .btn-bg {
  margin-top: 36px;
  margin-bottom: 50px; }

#knowledge-base-section {
  background-color: #F2F2F2;
  padding-bottom: 0 !important;
  margin-bottom: 40px; }
  #knowledge-base-section .row {
    position: relative; }
  #knowledge-base-section h2 {
    text-align: center;
    margin-bottom: 60px; }
  #knowledge-base-section .person .figcaption {
    position: relative;
    height: 25px;
    top: -20%;
    margin-top: 0; }
    #knowledge-base-section .person .figcaption .main__label {
      margin-bottom: 10px; }
    #knowledge-base-section .person .figcaption .description {
      font-family: montserrat-medium;
      max-width: 100%; }
  #knowledge-base-section .show-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -khtml-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    background: white;
    height: 88px;
    border-radius: 44px;
    width: 100%;
    text-align: center;
    bottom: -44px;
    margin: 0 auto; }
    #knowledge-base-section .show-more .show-more__internal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      -khtml-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -khtml-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      cursor: pointer; }
    #knowledge-base-section .show-more .label {
      color: #808080;
      margin-right: 20px; }
    #knowledge-base-section .show-more .icon {
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      position: relative;
      width: 20px;
      height: 20px;
      display: inline-block; }
      #knowledge-base-section .show-more .icon::before {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #808080;
        font-size: 13px;
        position: absolute;
        top: 50%;
        left: 50%; }
  @media (max-width: 1280px) {
    #knowledge-base-section .person {
      margin-bottom: 4%; } }
  @media (max-width: 990px) {
    #knowledge-base-section .person {
      margin-bottom: 0; } }
  @media (max-width: 768px) {
    #knowledge-base-section .person {
      margin-bottom: 30px; } }
  #knowledge-base-section.is-active .show-more .icon::before {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
    color: #48E500; }
  #knowledge-base-section:not(.is-active) .list-of-person {
    overflow: hidden; }

#partners-section h2 {
  text-align: center;
  margin-bottom: 20px; }

#partners-section .medium-paragraph {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 75px; }

#partners-section .btn-outline {
  margin: 0 auto;
  margin-top: 70px; }

@media (max-width: 1200px) {
  #partners-section .swiper-container.swiper-partners .swiper-wrapper .swiper-slide img {
    max-width: 70%; } }

@media (max-width: 768px) {
  #partners-section .medium-paragraph {
    margin-bottom: 30px; }
  #partners-section .swiper-container.swiper-partners .swiper-wrapper .swiper-slide img {
    max-width: 150px; } }

#guide-section h2 {
  margin-bottom: 60px; }

#guide-section .list-of-questions {
  width: 100%;
  max-width: 1136px; }
  #guide-section .list-of-questions .question {
    -webkit-box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: -10px 30px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 44px;
    background: white;
    padding: 30px 45px;
    position: relative; }
    #guide-section .list-of-questions .question h4 {
      position: relative;
      padding-right: 30px; }
    #guide-section .list-of-questions .question .icon-toggle {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      position: absolute;
      right: 0;
      top: 50%;
      cursor: pointer;
      text-align: center;
      line-height: 20px; }
      #guide-section .list-of-questions .question .icon-toggle::before {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        font-size: 13px;
        color: #808080;
        position: absolute; }
    #guide-section .list-of-questions .question .regular-paragraph {
      padding-bottom: 20px; }
    #guide-section .list-of-questions .question .row {
      padding-top: 30px; }
    #guide-section .list-of-questions .question.active .icon-toggle {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
      #guide-section .list-of-questions .question.active .icon-toggle::before {
        color: #48E500; }
    #guide-section .list-of-questions .question:not(:last-child) {
      margin-bottom: 40px; }

#guide-section .more-ask {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 72px; }
  #guide-section .more-ask .more-ask__internal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    -khtml-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    #guide-section .more-ask .more-ask__internal::before, #guide-section .more-ask .more-ask__internal::after {
      display: block;
      position: relative;
      top: 50%;
      color: #0061FF; }
    #guide-section .more-ask .more-ask__internal::before {
      content: url("../../../images/SVG/question.svg");
      font-size: 30px;
      margin-right: 22px; }
    #guide-section .more-ask .more-ask__internal::after {
      content: '\e901';
      font-family: icomoon;
      font-size: 8px;
      margin-left: 22px; }

@media (max-width: 1024px) {
  #guide-section .list-of-questions .question {
    padding: 30px 30px;
    border-radius: 30px; } }

@media (max-width: 576px) {
  #guide-section .list-of-questions .question {
    padding: 15px; }
    #guide-section .list-of-questions .question h4 {
      padding-right: 15px; }
    #guide-section .list-of-questions .question .icon-toggle::before {
      font-size: 9px; } }

#consultation-section {
  backgroud: white; }
  #consultation-section h2 {
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center; }
  #consultation-section .medium-paragraph {
    margin-bottom: 20px !important;
    text-align: center; }
  #consultation-section .regular-paragraph {
    margin-bottom: 45px;
    text-align: center; }
  #consultation-section .btn.btn-bg {
    margin: 0 auto; }
  #consultation-section #consultation-form {
    max-width: 460px; }
    #consultation-section #consultation-form .form-group:nth-child(-n+3) {
      max-width: 380px; }
  #consultation-section figure {
    text-align: right; }

#change-yourself-image-section {
  background-color: #F2F2F2;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 320px;
  z-index: 3; }
  #change-yourself-image-section .container, #change-yourself-image-section .row {
    height: 100%; }
  #change-yourself-image-section .middle-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -khtml-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -khtml-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    #change-yourself-image-section .middle-text h2 {
      margin-bottom: 20px; }
    #change-yourself-image-section .middle-text .medium-paragraph {
      font-size: 20px;
      line-height: 34.25px;
      max-width: 420px; }
    #change-yourself-image-section .middle-text .btn-bg {
      position: absolute;
      bottom: -23px; }
  #change-yourself-image-section figure {
    position: relative; }
    #change-yourself-image-section figure img {
      max-width: 300px;
      position: absolute;
      right: 0;
      top: -30px; }
    #change-yourself-image-section figure.left-image img {
      max-width: 420px;
      position: absolute;
      left: -64px;
      top: -65px; }
  @media (max-width: 1200px) {
    #change-yourself-image-section .middle-text {
      height: 100%; }
    #change-yourself-image-section figure img {
      max-width: 100%; }
    #change-yourself-image-section figure.left-image img {
      max-width: 100%;
      left: 0;
      top: -30px; } }
  @media (max-width: 1024px) {
    #change-yourself-image-section figure {
      display: none; }
    #change-yourself-image-section figure.left-image {
      display: block; } }
  @media (max-width: 768px) {
    #change-yourself-image-section figure.left-image {
      display: none; } }
  @media (max-width: 576px) {
    #change-yourself-image-section {
      height: 200px; }
      #change-yourself-image-section .middle-text .medium-paragraph {
        font-size: 16px;
        line-height: 25.5px; } }

#organizers-section h2 {
  text-align: center;
  margin-bottom: 72px;
  margin-top: 32px !important; }

#organizers-section .list-of-organizers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -khtml-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  -khtml-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 auto; }
  #organizers-section .list-of-organizers img:first-child {
    max-width: 240px;
    margin-top: 12px;
    margin-right: 66px; }
  #organizers-section .list-of-organizers img:last-child {
    max-width: 105px; }

@media (max-width: 1200px) {
  #organizers-section h2 {
    margin-top: 0 !important;
    margin-bottom: 20px; } }

@media (max-width: 768px) {
  #organizers-section h2 {
    margin-top: 20px !important; } }

@media (max-width: 576px) {
  #organizers-section .list-of-organizers img:first-child {
    max-width: 150px;
    margin-top: 8px;
    margin-right: 30px; }
  #organizers-section .list-of-organizers img:last-child {
    max-width: 68px; } }

#footer-section {
  background: #F2F2F2;
  padding-top: 40px !important;
  padding-bottom: 28px !important; }
  #footer-section .container, #footer-section .row {
    height: 100%; }
  #footer-section .medium-paragraph, #footer-section .bold-paragraph, #footer-section .regular-paragraph {
    color: #808080;
    display: block;
    width: 100%;
    text-align: center; }
  #footer-section .medium-paragraph {
    font-size: 20px; }
  #footer-section .bold-paragraph {
    padding: 6px 0; }
  #footer-section .regular-paragraph {
    font-size: 12px;
    margin-top: 40px; }
  @media (max-width: 768px) {
    #footer-section .medium-paragraph {
      font-size: 16px; } }

.navbar-custom {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0; }
  .navbar-custom.navbar-custom.top-nav-collapse {
    padding-left: 0;
    padding-right: 0; }
  .navbar-custom .navbar-brand.logo-image img {
    width: initial;
    height: initial; }
  .navbar-custom .nav-item .nav-link {
    color: #000000 !important; }
  .navbar-custom .social-icons {
    display: none; }
  .navbar-custom.top-nav-collapse {
    background: #F2F2F2; }
  @media (min-width: 768px) {
    .navbar-custom .nav-item .nav-link {
      padding: 0; }
    .navbar-custom .nav-item:not(:first-child) {
      margin-left: 55px; } }
  @media (max-width: 1200px) {
    .navbar-custom .nav-item:not(:first-child) {
      margin-left: 30px; } }
  @media (max-width: 1024px) {
    .navbar-custom .nav-item:not(:first-child) {
      margin-left: 20px; } }
  @media (max-width: 860px) {
    .navbar-custom {
      background: #F2F2F2; }
      .navbar-custom.navbar-custom.navbar {
        padding: 0 !important; }
      .navbar-custom .collapse:not(.show) {
        display: none !important; }
      .navbar-custom .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: 1;
        white-space: nowrap; }
      .navbar-custom .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        display: initial !important; }
      .navbar-custom.navbar-expand-md .navbar-toggler {
        display: block; }
      .navbar-custom {
        -webkit-box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
        font: 700 0.75rem/2rem "Montserrat", sans-serif;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .navbar-custom.navbar {
        position: relative;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem; }
      .navbar-custom.navbar-expand-md .navbar-nav {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-left: 0 !important; }
      .navbar-custom.fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030; }
      .navbar-custom .nav-item:not(:first-child) {
        margin-left: 0; }
      .navbar-custom.navbar-expand-md > .container, .navbar-custom.navbar-expand-md > .container-fluid {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        -khtml-flex-wrap: wrap;
        flex-wrap: wrap; } }
